mixin calendar-content
  section(data-aos="fade-up").calendar.mt-section(id="section-who-we-calendar")
    .container-content 
      .calendar__inner 
        h2.calendar__title Календарь событий 2022
        .calendar__box 
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Январь
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Участие в разработке нового порядка оформления таможенного транзита через Калининградскую область
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Март
                .calendar__col-list 
                  ul.list
                    each item in ['Участие в международном экономическом форуме государств-участников СНГ','Разработка и согласование технологии «контейнеризации» для поставок в Китай','Закрепление договорённостей с владельцами контейнерного парка Китайской Народной Республики о попутной загрузке в Республике Беларусь и Российской Федерации порожних контейнеров, следующих из ЕС «без ограничений»']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description В 1 квартале
              .row
                .calendar__item-number
                  p.calendar__number +4
                  p.calendar__subtext локации
                .calendar__item-number
                  p.calendar__number +44
                  p.calendar__subtext маршрута
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Апрель
                .calendar__col-list
                  ul.list
                    each item in ['Заключение первого контракта с оплатой за услуги ОТЛК&nbsp;ЕРА в китайских юанях','Участие в выставке и в деловой программе TransRussia 2022','Первая отправка полносоставного рефрижераторного поезда из Китая в Россию']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Май
                .calendar__col-list 
                  ul.list
                    each item in ['Заседание Рабочей группы КСТП «Китай–Европа–Китай» под председательством генерального директора ОТЛК&nbsp;ЕРА Грома А.Н.']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row(id="test-id")
                .calendar__col-month 
                  p.calendar__month Июнь
                .calendar__col-list 
                  ul.list
                    each item in ['Исполнение контракта на поставку 1000 вагонов','Участие в Санкт-Петербургском экономическом форуме','Участие в пилотной отправке контейнерного поезда по восточной ветке МТК «Север-Юг» в качестве 2PL оператора перевозки','Открытие в Нур-Султане выставки «Новый Шелковый путь: #время, #пространство и #бытие» (при поддержке ОТЛК&nbsp;ЕРА)','Старт проекта по восстановлению тугайного леса <br> в Казахстане на территории государственного природного резервата «Иле-Балхаш» (при поддержке ОТЛК&nbsp;ЕРА)',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description Во 2 квартале
              .row
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +12
                  p.calendar__subtext локации
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +60
                  p.calendar__subtext маршрутов
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Июль
                .calendar__col-list
                  ul.list
                    each item in ['Обсуждение транспортной отрасли и ситуации по транзиту на встрече премьер-министров России и Казахстана в Екатеринбурге', 'Возобновление перевозок автомобилей из Нидерландов в Китай']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__tex!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Сентябрь
                .calendar__col-list 
                  ul.list
                    each item in ['Генеральный директор ОТЛК&nbsp;ЕРА вошел в список 250 лучших топ-менеджеров (высших руководителей) России по версии ИД «Коммерсант»','Участие в выставке и деловой программе TransLogistica Kazakhstan','Выступление в деловой программе конференции The 2nd «Belt and Road» Land-Sea Intermodal Transport Corridor Cooperation Forum и China-Europe Railway Express and Multimodal Transport Summit (Китай)']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description В 3 квартале
              .row 
                .calendar__item-number
                  p.calendar__number +6
                  p.calendar__subtext локации
                .calendar__item-number 
                  p.calendar__number +51
                  p.calendar__subtext маршрут
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Октябрь
                .calendar__col-list
                  ul.list
                    each item in ['Участие в деловом форуме «Интеграция» и форуме «Сделано в России»', 'ОТЛК&nbsp;ЕРА подтвердила свой статус крупнейшей компании в РФ по версии «Эксперт РА» и поднялась в рейтинге на 305 позицию (в 2021 году компания занимала 323 место)']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Ноябрь
                .calendar__col-list 
                  ul.list
                    each item in ['Участие в деловой программе «Транспортной недели 2022»','Номинация совместного проекта ОТЛК&nbsp;ЕРА и партнера на соискание премии «Формула движения» в номинации «Лучшее решение в области грузовой логистики» (проект вошел в список финалистов)',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month Декабрь
                .calendar__col-list 
                  ul.list
                    each item in ['География локаций зарождения/поглощения грузов расширяется за счет грузов из Вьетнама, Малайзии, Индонезии и других стран Азии','Расширение номенклатуры перевозимых грузов за счет поставок новых грузов в рамках эко-повестки: впервые в сервисе ОТЛК&nbsp;ЕРА по маршруту Чэнду–Малашевиче был отправлен полносоставный поезд из пятидесяти 40-футовых контейнеров с электромобилями','Участие в деловой программе форума TRANSTEC 2022','Участие в заседании Транспортного бизнес-диалога Содружества Независимых Государств','Участие в закрытом круглом столе ИД «Гудок» «PRO//Движение. 1520 — ИТОГИ 2022»',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description В 4 квартале
              .row 
                .calendar__item-number
                  p.calendar__number.calendar__number_light +10
                  p.calendar__subtext локаций
                .calendar__item-number
                  p.calendar__number.calendar__number_light +78
                  p.calendar__subtext маршрутов
mixin calendar-content-EN
  section(data-aos="fade-up").calendar.mt-section(id="section-who-we-calendar")
    .container-content 
      .calendar__inner 
        h2.calendar__title Event Calendar for 2022
        .calendar__box 
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month January
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the development of the new customs clearance procedures for transit via Kaliningrad Region
              .calendar__row
                .calendar__col-month 
                  p.calendar__month March
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the international economic forum of CIS member states
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Development and approval of the “containerization” technology to be supplied to China
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Finalization of agreements with Chinese container fleet owners on loading of empty containers arriving from Europe in Belarus and Russia “without restrictions”
            .calendar__col-right
              .row
                p.calendar__description In Q1, the company’s geography was expanded by:
              .row
                .calendar__item-number
                  p.calendar__number +4
                  p.calendar__subtext locations
                .calendar__item-number
                  p.calendar__number +44
                  p.calendar__subtext routes
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month April
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Execution of the first contract for the company’s services to be paid in Chinese yuans
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the exhibition and business program at TransRussia 2022
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Dispatch of the first full-length refrigerator train from China to Russia
              .calendar__row
                .calendar__col-month 
                  p.calendar__month May
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Meeting of CCTT China–Europe–China Task Force chaired by A. Grom, Company’s General Director
              .calendar__row(id="test-id")
                .calendar__col-month 
                  p.calendar__month June
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Execution of the contract for supply of 1,000 rail cars 
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in St. Petersburg Economic Forum
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the pilot dispatch of a container train via the Eastern branch of the North-South International Transport Corridor as a 2PL freight operator
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Opening of The New Silk Road: #time, #space and #existence exhibition (with the support of UTLC&nbsp;ERA) in Nur-Sultan
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Initiation of the tugay wooldland restoration project in Ili-Balkhash state natural reserve, Kazakhstan (with the support of UTLC&nbsp;ERA)
            .calendar__col-right
              .row
                p.calendar__description In Q2, the company’s geography was expanded by:
              .row
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +12
                  p.calendar__subtext locations
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +60
                  p.calendar__subtext routes
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month July
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Discussion of the transportation industry and transit situation at the meeting of Prime Ministers of Russia and Kazakhstan in Yekaterinburg
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Renewal of cars traffic from the Netherlands to China
              .calendar__row
                .calendar__col-month 
                  p.calendar__month September
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text UTLC&nbsp;ERA General Director ranked among Kommersant’s 250 Best Top Managers in Russia
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in TransLogistica Kazakhstan exhibition and business program
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Presentation during the business program of The 2nd "Belt and Road" Land-Sea Intermodal Transport Corridor Cooperation Forum and China-Europe Railway Express and Multimodal Transport Summit (China)
            .calendar__col-right
              .row
                p.calendar__description In Q3, the company’s geography was expanded by:
              .row 
                .calendar__item-number
                  p.calendar__number +6
                  p.calendar__subtext locations
                .calendar__item-number 
                  p.calendar__number +51
                  p.calendar__subtext routes
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month October
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in Integration Business Forum and in Made in Russia Forum
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text UTLC&nbsp;ERA confirmed its status as one of the largest Russian companies (according to EXPERT RA) and rose to the 305th position in the rating (in 2021, the company was rated 323rd)
              .calendar__row
                .calendar__col-month 
                  p.calendar__month November
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the business program at Transport Week 2022
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Nomination of the joint project of UTLC&nbsp;ERA and a partner for the Movement Formula Award in the Best Freight Logistics Solution category (the project was included in the short list of nominees)
              .calendar__row
                .calendar__col-month 
                  p.calendar__month December
                .calendar__col-list 
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text The geography of cargo origination/termination locations expanded due to cargoes from Vietnam, Malaysia, Indonesia and other Asian countries
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text The range of transported cargoes expanded due to supply of new goods under the environmental agenda: a full-length train of 50 and 40 feet containers loaded with electric vehicles was dispatched on the Chengdu–Malaszewicze route for the first time in the company’s service
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the business program at TRANSTEC 2022
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the meeting of the Transport Business Dialog of the Commonwealth of Independent States
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text Participation in the closed-door round table meeting entitled PRO//Motion. 1520 – 2022 RESULTS held by Gudok Publishing House
            .calendar__col-right
              .row
                p.calendar__description In Q4, the company’s geography was expanded by:
              .row 
                .calendar__item-number
                  p.calendar__number.calendar__number_light +10
                  p.calendar__subtext locations
                .calendar__item-number
                  p.calendar__number.calendar__number_light +78
                  p.calendar__subtext routes


mixin calendar-content-CN
  section(data-aos="fade-up").calendar.mt-section(id="section-who-we-calendar").calendar__CN
    .container-content 
      .calendar__inner 
        h2.calendar__title 2022年活动日历
        .calendar__box 
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 1月
                .calendar__col-list
                  ul.list
                    li.calendar__item
                      +mark-text-svg.calendar-svg
                      p.text.calendar__text 参与制定和最终批准通过加里宁格勒州过境的海关手续登记新程序
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 3月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['参加独联体成员国国际经济论坛','开发与协调向中国供货的产品“集装箱化”技术','与中国集装箱船队业主签订协议，在白俄罗斯和俄罗斯联邦“不受限制”地同时装载来自欧盟的空集装箱']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description 在第一季度：
              .row
                .calendar__item-number
                  p.calendar__number +4
                  p.calendar__subtext 个地点
                .calendar__item-number
                  p.calendar__number +44
                  p.calendar__subtext 条线路
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 4月
                .calendar__col-list
                  ul.list
                    each item in ['签订公司首份人民币服务合同','参加TransRossiya 2022展览和商务计划','自华至俄全列冷藏列车首次发车']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 5月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['跨欧亚运输协调理事会“中-欧-中”工作组会议，由公司总经理A.N.格罗姆主持']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row(id="test-id")
                .calendar__col-month 
                  p.calendar__month 6月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['签订1000辆马车的交付合同','参加圣彼得堡经济论坛','作为2PL运输运营商，参与南北国际运输走廊航线东线集装箱班列试点调度','在努尔苏丹举办“新丝绸之路：#时间、#空间和#存在（由UTLC&nbsp;ERA赞助）的展会','启动哈萨克斯坦国家Ile Balkhash自然保护区领土上的图中亚泛滥地森林恢复项目（由UTLC&nbsp;ERA赞助）',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description 在第二季度：
              .row
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +12
                  p.calendar__subtext 个地点
                .calendar__item-number-number
                  p.calendar__number.calendar__number_light +60
                  p.calendar__subtext 条线路
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 7月
                .calendar__col-list
                  ul.list
                    each item in ['在叶卡捷琳堡举行的俄罗斯联邦和哈萨克斯坦共和国总理会议上，讨论运输业和过境问题', '恢复汽车从荷兰到中国的运输']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 9月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['UTLC&nbsp;ERA的总经理列入俄罗斯250名最佳高层（最高层）管理人员名单（根据生意人报出版社评选）','参加TransLogistica Kazakhstan展览和商务计划','在“The 2th Belt and Road Land-Sea Intermodal Transport Corridor Cooperation Forum and China-Europe Railway Express and Multimodal Transport Summit（第二届“一带一路”陆海联运走廊合作论坛暨中欧铁路快运多式联运峰会）（中国）商务活动上讲话']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description 在第三季度：
              .row 
                .calendar__item-number
                  p.calendar__number +6
                  p.calendar__subtext 个地点
                .calendar__item-number 
                  p.calendar__number +51
                  p.calendar__subtext 条线路
          .calendar__block
            .calendar__col-left
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 10月
                .calendar__col-list
                  ul.list
                    each item in ['参加“一体化”商业论坛和“俄罗斯制造”论坛', 'UTLC&nbsp;ERA确认了其作为俄罗斯联邦最大公司的地位（根据Expert RA评级），并在评级中上升到305位（2021年公司排名第323位）']
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 11月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['参加“2022交通周”商业计划。','UTLC&nbsp;ERA股份公司有限责任公司的联合项目在“货运物流领域最佳解决方案”提名中获得“移动公式”奖（该项目进入最终竞争者名单）',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
              .calendar__row
                .calendar__col-month 
                  p.calendar__month 12月
                .calendar__col-list.calendar__col-list_CN
                  ul.list
                    each item in ['来自越南、马来西亚、印度尼西亚和其他亚洲国家的货物正在扩大发源地/接收地的地理范围','通过在生态议程框架内供应新货物来扩大运输货物的范围 — 在成都-马拉舍维奇路线上首次在公司服务中发送了一列装有电动汽车的50个40英尺集装箱的全列车','参加“ TRANSTEC 2022”论坛商业计划','参加“独联体国家运输业务对话”会议','参加“Gudok”出版社封闭式圆桌讨论会“PRO//移动.1520 — 2022年成果”',]
                      li.calendar__item
                        +mark-text-svg.calendar-svg
                        p.text.calendar__text!=item
            .calendar__col-right
              .row
                p.calendar__description 在第四季度：
              .row 
                .calendar__item-number
                  p.calendar__number.calendar__number_light +10
                  p.calendar__subtext 个地点
                .calendar__item-number
                  p.calendar__number.calendar__number_light +78
                  p.calendar__subtext 条线路
