mixin control-sections 
  .container.container_control-hero(data-aos="fade-up") 
    section.control-hero(id="control-hero")
      .control-hero__img.desktop 
        +picture('page-5-hero.png')
      .control-hero__img.mobile 
        +picture('page-5-hero-mobile.png')
      .control-hero__title Структура корпоративного управления
  .container-content(data-aos="fade-up")
    section.control-subhero
      .control-subhero__row(data-aos="fade-up")
        p.control-subhero__subtitle Эффективная система корпоративного управления — важный фактор устойчивого развития ОТЛК&nbsp;ЕРА.
        p.control-subhero__text.text В нашей компании функционирует современная система корпоративного управления, которая строится на основе требований законодательства Российской Федерации и лучших корпоративных практик.
      .control-subhero__title В соответствии с рекомендациями кодекса корпоративного управления Банка России, мы руководствуемся следующими основными принципами построения системы корпоративного управления:
      .control-subhero__row.listing(data-aos="fade-up") 
        .control-subhero__col.list-subhero 
          each item in ['Равное отношение к правам и интересам акционеров', 'Уважение и защита прав акционеров', 'Последовательность и коллегиальность в принятии решений', 'Активность и профессионализм членов совета директоров и правления', 'Стабильная и прозрачная дивидендная политика']
            .recruitment-processes__hr-mark!=item
        .control-subhero__col.list-subhero 
          each item in ['Информационная открытость и прозрачность', 'Неприятие коррупции в любых ее проявлениях', 'Соблюдение этических норм поведения', 'Корпоративная социальная ответственность']
            .recruitment-processes__hr-mark!=item
  .container-content  
    section.control-meetings(data-aos="fade-up")
      h3.control-meetings__title Количество общих собраний акционеров/заседаний совета директоров и его комитетов, правления в 2022 году
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Общее собрания акционеров
            .custom-card__row
              .custom-card__num.w-1.countup-element(data-countup='4')
              .custom-card__texts.number-animate-4.number-animate 
                .custom-card__texts-title заседания
                .custom-card__texts-subtext.desktop 2 собрания в форме совместного присутствия (с возможностью предварительного направления бюллетеней), 2 собрания в форме заочного голосования (путем направления бюллетеней)            
            .custom-card__texts-subtext.mobile 2 собрания в форме совместного присутствия (с возможностью предварительного направления бюллетеней), 2 собрания в форме заочного голосования (путем направления бюллетеней)
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title Совет директоров
            .custom-card__row
              .custom-card__num.w-2.countup-element(data-countup='13')
              .custom-card__texts.number-animate-13.number-animate 
                .custom-card__texts-title заседаний
                .custom-card__texts-subtext.desktop 9 заседаний в форме совместного присутствия, <br>(8 – по видеоконференцсвязи, 1 – совместное присутствие), <br>4 заседания в форме заочного голосования
            .custom-card__texts-subtext.mobile 9 заседаний в форме совместного присутствия, <br>(8 – по видеоконференцсвязи, 1 – совместное присутствие), <br>4 заседания в форме заочного голосования
            .custom-card__subtitle В составе совета директоров:
            each item in ['Два представителя ОАО «РЖД»', 'Два представителя АО&nbsp;«НК&nbsp;«КТЖ»', 'Два представителя Белорусской железной дороги']
              .recruitment-processes__hr-mark!=item
            .custom-card__text Независимые директора не входили в состав совета директоров.
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Комитет по стратегии совета директоров
            .custom-card__row
              .custom-card__num.countup-element(data-countup='8')
              .custom-card__texts.number-animate-8.number-animate  
                .custom-card__texts-title заседаний
                .custom-card__texts-subtext.desktop 3 заседания в форме совместного присутствия, <br>5 заседаний в форме заочного голосования
            .custom-card__texts-subtext.mobile 3 заседания в форме совместного присутствия, <br>5 заседаний в форме заочного голосования
            .custom-card__subtitle В составе комитета по стратегии совета директоров:
            each item in ['Два представителя ОАО «РЖД»', 'Два представителя АО&nbsp;«НК&nbsp;«КТЖ»', 'Два представителя Белорусской железной дороги','Два представителя ОТЛК&nbsp;ЕРА']
              .recruitment-processes__hr-mark!=item
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Комитет по аудиту совета директоров
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title заседаний
                .custom-card__texts-subtext.desktop 5 заседаний в форме совместного присутствия, 2 заседания в форме заочного голосования
            .custom-card__texts-subtext.mobile 5 заседаний в форме совместного присутствия,  <br>2 заседания в форме заочного голосования
            .custom-card__subtitle В составе комитета по аудиту совета директоров:
            each item in ['Два представителя ОАО «РЖД»', 'Два представителя АО&nbsp;«НК&nbsp;«КТЖ»', 'Два представителя Белорусской железной дороги', 'Два представителя ОТЛК&nbsp;ЕРА']
              .recruitment-processes__hr-mark!=item
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Комитет по кадрам, вознаграждениям <br>и корпоративному управлению совета директоров
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title заседаний
                .custom-card__texts-subtext.desktop 5 заседаний в форме совместного присутствия, <br>2 заседания в форме заочного голосования
            .custom-card__texts-subtext.mobile 5 заседаний в форме совместного присутствия, <br>2 заседания в форме заочного голосования
            .custom-card__subtitle В составе комитета по кадрам, вознаграждениям и корпоративному управлению совета директоров:
            each item in ['Два представителя ОАО «РЖД»', 'Два представителя АО&nbsp;«НК&nbsp;«КТЖ»', 'Два представителя Белорусской железной дороги', 'Два представителя ОТЛК&nbsp;ЕРА']
              .recruitment-processes__hr-mark!=item
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title Правление
            .custom-card__row
              .custom-card__num.countup-element(data-countup='31') 
              .custom-card__texts.number-animate-31.number-animate  
                .custom-card__texts-title заседание
                .custom-card__texts-subtext.desktop 30 заседаний в форме совместного присутствия, 1 заседание <br>в форме заочного голосования
            .custom-card__texts-subtext.mobile 30 заседаний в форме совместного присутствия, 1 заседание <br>в форме заочного голосования
            .custom-card__subtitle В составе комитета по аудиту совета директоров:
            .custom-card__text В составе – шесть представителей ОТЛК&nbsp;ЕРА
  .container-content  
    section.control-structure(data-aos="fade-up")
      .control-structure__title Структура корпоративного управления
      .control-structure__img.desktop(data-aos="fade-up") 
        +picture('control-structure-vector.png')
      +activity-buttons('control-structure-vector.png').flex-desktop
      .control-structure__img-container.mobile(data-aos="fade-up")
        .control-structure__img 
          +picture('control-structure-vector-mobile.png')
      +activity-buttons('control-structure-vector-mobile.png').flex-m

mixin control-sections-EN 
  .container.container_control-hero(data-aos="fade-up") 
    section.control-hero(id="control-hero")
      .control-hero__img.desktop 
        +picture('page-5-hero.png')
      .control-hero__img.mobile 
        +picture('page-5-hero-mobile.png')
      .control-hero__title Corporate Governance Structure
  .container-content(data-aos="fade-up")
    section.control-subhero
      .control-subhero__row(data-aos="fade-up")
        p.control-subhero__subtitle An effective corporate governance system is a major driver of UTLC&nbsp;ERA’s sustainable development.
        p.control-subhero__text.text We have an advanced corporate governance system based on the Russian statutory requirements and the best corporate practices.
      .control-subhero__title In line with the recommendations of the Corporate Governance Code of the Bank of Russia, we are governed by the following key principles for building the corporate governance system:
      .control-subhero__row.listing(data-aos="fade-up") 
        .control-subhero__col.list-subhero 
          .recruitment-processes__hr-mark Equal treatment of the rights and interests of the shareholders
          .recruitment-processes__hr-mark Respect and protection of shareholder rights
          .recruitment-processes__hr-mark Consistent and inclusive decision making
          .recruitment-processes__hr-mark Dedicated and professional members of the Board of Directors and the Management Board
          .recruitment-processes__hr-mark Stable and transparent dividend policy
        .control-subhero__col.list-subhero 
          .recruitment-processes__hr-mark Openness and transparency
          .recruitment-processes__hr-mark Zero tolerance to any forms of corruption
          .recruitment-processes__hr-mark Compliance with the code of conduct
          .recruitment-processes__hr-mark Corporate social responsibility
  .container-content  
    section.control-meetings(data-aos="fade-up")
      h3.control-meetings__title Number of General Meetings of Shareholders / Meetings of the Board of Directors and its Committees, the Management Board in 2022
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title General Meetings of Shareholders
            .custom-card__row
              .custom-card__num.w-1.countup-element(data-countup='4')
              .custom-card__texts.number-animate-4.number-animate 
                .custom-card__texts-title meetings
                .custom-card__texts-subtext.desktop 2 meetings in the form of joint attendance (with a possibility to deliver early voting ballots), 2 meetings in the form of absentee voting (by sending out ballots).            
            .custom-card__texts-subtext.mobile 2 meetings in the form of joint attendance (with a possibility to deliver early voting ballots), 2 meetings in the form of absentee voting (by sending out ballots).
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title Board of Directors
            .custom-card__row
              .custom-card__num.w-2.countup-element(data-countup='13') 
              .custom-card__texts.number-animate-13.number-animate 
                .custom-card__texts-title meetings 
                .custom-card__texts-subtext.desktop 9 meetings in the form of joint attendance (8 meetings by video conference, 1 meeting with joint attendance), 4 meetings in the form of absentee voting.
            .custom-card__texts-subtext.mobile 9 meetings in the form of joint attendance <br>(8 meetings by video conference, 1 meeting with joint attendance),<br> 4 meetings in the form of absentee voting.
            .custom-card__subtitle There are no independent directors in the Board of Directors:
            .recruitment-processes__hr-mark Two representatives of JSCo "RZD"
            .recruitment-processes__hr-mark Two representatives of JSC “NC “KTZ”
            .recruitment-processes__hr-mark Two representatives of the Belarusian Railway
            .custom-card__text There were no independent directors in the Board of Directors.
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Strategy Committee under the Board of Directors
            .custom-card__row
              .custom-card__num.countup-element(data-countup='8')
              .custom-card__texts.number-animate-8.number-animate  
                .custom-card__texts-title meetings 
                .custom-card__texts-subtext.desktop 3 meetings in the form of joint attendance, <br>5 meetings in the form of absentee voting
            .custom-card__texts-subtext.mobile 3 meetings in the form of joint attendance,<br> 5 meetings in the form of absentee voting
            .custom-card__subtitle The Strategy Committee is composed of:
            .recruitment-processes__hr-mark Two representatives of JSCo "RZD"
            .recruitment-processes__hr-mark Two representatives of JSC “NC “KTZ”
            .recruitment-processes__hr-mark Two representatives of the Belarusian Railway
            .recruitment-processes__hr-mark Two representatives of UTLC&nbsp;ERA
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title Audit Committee under the Board of Directors
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title meetings 
                .custom-card__texts-subtext.desktop 5 meetings in the form of joint attendance, <br>2 meetings in the form of absentee voting
            .custom-card__texts-subtext.mobile 5 meetings in the form of joint attendance, <br>2 meetings in the form of absentee voting
            .custom-card__subtitle The Audit Committee is composed of:
            .recruitment-processes__hr-mark Two representatives of JSCo "RZD"
            .recruitment-processes__hr-mark Two representatives of JSC “NC “KTZ”
            .recruitment-processes__hr-mark Two representatives of the Belarusian Railway
            .recruitment-processes__hr-mark One representative of UTLC&nbsp;ERA
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title HR, Remuneration and Corporate Governance<br> Committee under the Board of Directors
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title meetings 
                .custom-card__texts-subtext.desktop 5 meetings in the form of joint attendance,<br> 2 meetings in the form of absentee voting
            .custom-card__texts-subtext.mobile 5 meetings in the form of joint attendance, <br>2 meetings in the form of absentee voting
            .custom-card__subtitle The HR, Remuneration and Corporate Governance Committee is composed of:
            .recruitment-processes__hr-mark Two representatives of JSCo "RZD"
            .recruitment-processes__hr-mark Two representatives of JSC “NC “KTZ”
            .recruitment-processes__hr-mark Two representatives of the Belarusian Railway
            .recruitment-processes__hr-mark One representative of UTLC&nbsp;ERA
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title Management Board
            .custom-card__row
              .custom-card__num.countup-element(data-countup='31') 
              .custom-card__texts.number-animate-31.number-animate  
                .custom-card__texts-title meetings 
                .custom-card__texts-subtext.desktop 30 meetings in the form of joint attendance, <br>1 meeting in the form of absentee voting
            .custom-card__texts-subtext.mobile 30 meetings in the form of joint attendance,<br> 1 meeting in the form of absentee voting
            .custom-card__subtitle As part of the Audit Committee of the Board of Directors:
            .custom-card__text The Management Board is composed of six representatives of UTLC&nbsp;ERA
  .container-content  
    section.control-structure(data-aos="fade-up")
      .control-structure__title Corporate Governance Structure
      .control-structure__img.desktop(data-aos="fade-up") 
        +picture('control-structure-vector-EN.png')
      +activity-buttons('control-structure-vector-EN.png').flex-desktop
      .control-structure__img-container.mobile(data-aos="fade-up")
        .control-structure__img 
          +picture('control-structure-vector-mobile-EN.png')
      +activity-buttons('control-structure-vector-mobile-EN.png').flex-m

mixin control-sections-CN 
  .container.container_control-hero(data-aos="fade-up") 
    section.control-hero(id="control-hero")
      .control-hero__img.desktop 
        +picture('page-5-hero.png')
      .control-hero__img.mobile 
        +picture('page-5-hero-mobile.png')
      .control-hero__title 公司治理结构 
  .container-content(data-aos="fade-up")
    section.control-subhero
      .control-subhero__row(data-aos="fade-up")
        p.control-subhero__subtitle 有效的公司治理体系是 UTLC&nbsp;ERA 可持续发展的重要因素。
        p.control-subhero__text.text 公司拥有先进的公司治理制度，该制度建立在俄罗斯联邦法律要求和最佳公司实践的基础上。
      .control-subhero__title 根据俄罗斯银行《公司治理守则》的建议，我们遵循以下构建公司治理体系的基本原则：
      .control-subhero__row.listing(data-aos="fade-up") 
        .control-subhero__col.list-subhero 
          .recruitment-processes__hr-mark 平等对待股东权益
          .recruitment-processes__hr-mark 尊重和保护股东的权利
          .recruitment-processes__hr-mark 决策的一致性和合议性
          .recruitment-processes__hr-mark 董事会和董事会成员的积极性和专业性
          .recruitment-processes__hr-mark 稳定透明的股利政策
        .control-subhero__col.list-subhero 
          .recruitment-processes__hr-mark 信息公开透明
          .recruitment-processes__hr-mark 反对一切形式的腐败
          .recruitment-processes__hr-mark 遵守道德行为标准
          .recruitment-processes__hr-mark 企业和社会责任。
  .container-content  
    section.control-meetings(data-aos="fade-up")
      h3.control-meetings__title 2022年股东大会/董事会及其委员会、董事会会议次数
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title 股东大会-
            .custom-card__row
              .custom-card__num.w-1.countup-element(data-countup='4')
              .custom-card__texts.number-animate-4.number-animate 
                .custom-card__texts-title 全体股东大会
                .custom-card__texts-subtext.desktop 2次大会的（可预先发送选票）
            .custom-card__texts-subtext.mobile 缺席投票形式2次会议（通过发送选票方式）
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title 董事会 
            .custom-card__row
              .custom-card__num.w-2.countup-element(data-countup='13') 
              .custom-card__texts.number-animate-13.number-animate 
                .custom-card__texts-title 次会议
                .custom-card__texts-subtext.desktop 9次联合出席形式的会议(8次视频会议,1次联合出席,4次缺席投票)。
            .custom-card__texts-subtext.mobile 9次联合出席形式的会议(8次视频会议,1次联合出席,4次缺席投票)。
            .custom-card__subtitle 董事会成员：
            .recruitment-processes__hr-mark 俄罗斯铁路股份有限公司的两名代表
            .recruitment-processes__hr-mark 哈萨克斯坦铁路国有企业股份公司的两名代表
            .recruitment-processes__hr-mark 白俄罗斯铁路的两名代表。
            .custom-card__text 董事会成员不包括独立董事。
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title 董事会战略委员会  
            .custom-card__row
              .custom-card__num.countup-element(data-countup='8')
              .custom-card__texts.number-animate-8.number-animate  
                .custom-card__texts-title 次会议。
                .custom-card__texts-subtext.desktop 3次联合出席形式的会议，5次缺席投票会议。
            .custom-card__texts-subtext.mobile 3次联合出席形式的会议，5次缺席投票会议。
            .custom-card__subtitle 董事会战略委员会成员：
            .recruitment-processes__hr-mark 俄罗斯铁路股份有限公司的两名代表
            .recruitment-processes__hr-mark 哈萨克斯坦铁路国有企业股份公司的两名代表
            .recruitment-processes__hr-mark 白俄罗斯铁路的两名代表
            .recruitment-processes__hr-mark UTLC&nbsp;ERA的两名代表。
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title 董事会审计委员会
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title 次会议
                .custom-card__texts-subtext.desktop 5次联合出席形式的会议，2次缺席投票会议
            .custom-card__texts-subtext.mobile 5次联合出席形式的会议，2次缺席投票会议
            .custom-card__subtitle 作为董事会审计委员会的一部分：
            .recruitment-processes__hr-mark 俄罗斯铁路股份有限公司的两名代表
            .recruitment-processes__hr-mark 哈萨克斯坦铁路国有企业股份公司的两名代表
            .recruitment-processes__hr-mark 白俄罗斯铁路的两名代表
            .recruitment-processes__hr-mark UTLC&nbsp;ERA的两名代表。
      .control-meetings__row(data-aos="fade-up") 
        .control-meetings__col(data-aos="fade-up")
          //card
          .custom-card 
            .custom-card__title 董事会人事、薪酬和公司治理委员会组成
            .custom-card__row
              .custom-card__num.countup-element(data-countup='7')
              .custom-card__texts.number-animate-7.number-animate 
                .custom-card__texts-title 次会议
                .custom-card__texts-subtext.desktop 5次联合出席形式的会议，2次缺席投票会议
            .custom-card__texts-subtext.mobile 5次联合出席形式的会议，2次缺席投票会议
            .custom-card__subtitle 作为董事会人力资源、薪酬和公司治理委员会的一部分：
            .recruitment-processes__hr-mark 俄罗斯铁路股份有限公司的两名代表
            .recruitment-processes__hr-mark 哈萨克斯坦铁路国有企业股份公司的两名代表
            .recruitment-processes__hr-mark 白俄罗斯铁路的两名代表
            .recruitment-processes__hr-mark UTLC&nbsp;ERA的两名代表。
        .control-meetings__col(data-aos="fade-up") 
          //card
          .custom-card 
            .custom-card__title 管理机构
            .custom-card__row
              .custom-card__num.countup-element(data-countup='31') 
              .custom-card__texts.number-animate-31.number-animate  
                .custom-card__texts-title 会议
                .custom-card__texts-subtext.desktop （30次联合出席形式的会议，1次缺席投票会议）。
            .custom-card__texts-subtext.mobile （30次联合出席形式的会议，1次缺席投票会议）。
            .custom-card__subtitle 作为董事会审计委员会的一部分：
            .custom-card__text 成员包括UTLC&nbsp;ERA的六名代表。
  .container-content  
    section.control-structure(data-aos="fade-up")
      .control-structure__title 公司治理结构
      .control-structure__img.desktop(data-aos="fade-up") 
        +picture('control-structure-vector-CN.png')
      +activity-buttons('control-structure-vector-CN.png').flex-desktop
      .control-structure__img-container.mobile(data-aos="fade-up")
        .control-structure__img 
          +picture('control-structure-vector-mobile-CN.png')
      +activity-buttons('control-structure-vector-mobile-CN.png').flex-m