mixin incorporated
  .container-content 
    .incorporated
      .incorporated__title ОТЛК ЕРА была создана в результате реорганизации АО «ОТЛК» путем выделения трех обществ
      .incorporated-plugs 
        each item in ['АО «ОТЛК ЕРА»', 'АО «ОТЛК Логистика»', 'АО «ОТЛК Финансы»']
          .incorporated-plugs__item
            .incorporated-plugs__item-background 
              +inco-svg-logo
            .incorporated-plugs__item-text=item
      .incorporated__title По итогам реорганизации в ОТЛК ЕРА закрепилось паритетное участие администраций трех железных дорог
      .incorporated-cards  
        .incorporated-cards__item.light 
          .incorporated-cards__item-title ОАО «РЖД»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Открытое акционерное общество «Российские железные дороги», ОГРН 1037739877295,107174, г. Москва, вн. тер. г. муниципальный округ Басманный,<br> ул. Новая Басманная, д. 2/1, стр. 1. 
        .incorporated-cards__item.green 
          .incorporated-cards__item-title АО «НК «КТЖ»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards-item-text Акционерное общество «Национальная компания «Казахстан темир жолы», зарегистрированное за номером 11867-1901-АО, Республика Казахстан, 010000, г. Астана, <br>ул. Д. Кунаева, 6.
        .incorporated-cards__item.light 
          .incorporated-cards__item-title Белорусская железная дорога
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Государственное объединение «Белорусская железная дорога», УНП 100088574, ОКПО 00047792, Республика Беларусь, 220030, г. Минск,<br> ул. Ленина, 17.
      .incorporated-capital
        .incorporated-capital__texts 
          .incorporated-capital__texts-title Размер уставного капитала АО «ОТЛК ЕРА» составляет 98 127 000 рублей
          .incorporated-capital__texts-text Уставный капитал Общества состоит из 98 127 обыкновенных именных бездокументарных акций номинальной стоимостью 1 000 (одна тысяча) рублей каждая. Каждому из трех участников принадлежит по 32 709 акций. 
        .incorporated-capital__img 
          +picture('incorporated-capital.png')
      .incorporated-dividends
        .incorporated-dividends__title Дивидендная политика
        .incorporated-dividends__text Годовое общее собрание акционеров утвердило положение о дивидендной политике ОТЛК ЕРА 30 июня 2021 года (протокол от 30.06.2021 № 14). Дивидендная политика распространяет сове действие с даты исполнения Обществом обязательств по выплате дивидендов за отчетный 2020 год.  
      .incorporated-dividends__principes
        .incorporated-dividends__principes-title Три главных принципа
        .incorporated-dividends__cards 
          .incorporated-dividends__card
            .incorporated-dividends__card-title Законность
            .incorporated-dividends__card-text Соблюдаем права акционеров в соответствие с законодательством РФ и современной мировой практикой в области корпоративного управления
          .incorporated-dividends__card
            .incorporated-dividends__card-title Сбалансированность целей
            .incorporated-dividends__card-text Соблюдаем права акционеров в соответствие с законодательством РФ и современной мировой практикой в области корпоративного управления
          .incorporated-dividends__card
            .incorporated-dividends__card-title Открытость
            .incorporated-dividends__card-text Повышаем прозрачность механизма определения размера дивидендов и их выплаты, облегчаем доступ к информации, консультируем акционеров
        .incorporated-dividends__principes-subtext Решения о выплате дивидендов принимает общее собрание акционеров только по результатам полугодия и отчетного года, следуя рекомендациям совета директоров ОТЛК ЕРА. При этом соблюдается периодичность — по результатам полугодия и отчетного года.
      .incorporated-conditions
        .incorporated-conditions__title Условия решения <br> об объявлении <br>и выплате дивидендов
        .incorporated-conditions__list 
          each item in ['Чистая прибыль определяется по данным бухгалтерской (финансовой) отчетности ОТЛК ЕРА, составленной в соответствии с требованиями РСБУ', 'Распределению подлежит не менее 50% чистой прибыли ОТЛК ЕРА за отчетный период (фиксированный размер)', 'Решение не нарушает какие-либо обязательства Общества и российское законодательство', 'При определении общего размера дивидендов учитываются финансовое состояние компании и прогнозная потребность в оборотном капитале']
            .recruitment-processes__hr-mark=item
      .incorporated-accrued
        .incorporated-accrued__title Начисленные и выплаченные дивиденды в 2022 году
        .incorporated-accrued__img 
          +picture('incorporated-dividends-table.png')
      .incorporated-shareholders
        h2.incorporated-shareholders__title Общее собрание акционеров
        .incorporated-shareholders__hero-row 
          p.incorporated-shareholders__hero-subtitle Общее собрание акционеров — высший орган управления ОТЛК ЕРА, ответственный за принятие решений по ключевым вопросам деятельности, которые сформулированы в Федеральном законе от 26 декабря 1995 года № 208-ФЗ «Об акционерных обществах».
          .incorporated-shareholders__hero-texts  
            p.incorporated-shareholders__hero-text.top В своей работе орган руководствуется действующим российским законодательством, акционерным соглашением, уставом компании ОТЛК ЕРА, положением o порядке подготовки и проведения общего собрания акционеров и другими внутренними документами.
            p.incorporated-shareholders__hero-text Общее собрание акционеров обладает правом принимать решения по вопросам своей компетенции, если в нем участвуют акционеры компании, обладающие в совокупности 3/4 голосов размещенных голосующих акций ОТЛК ЕРА. Таким образом, принимать участие в общем собрании должны все три акционера Общества. Вопросы, отнесенные к компетенции общего собрания акционеров, делятся на особо важные, специальные и остальные.
      .incorporated-solutions
        h3.incorporated-solutions__title Основные решения в 2022 году
        .incorporated-solutions__row 
          .incorporated-solutions__col 
            .incorporated-solutions__subtitle Внеочередное общее собрание акционеров <br>от 7 апреля 2022 года
            each item in ['Избран председательствующий на внеочередном общем собрании акционеров ОТЛК ЕРА', 'Досрочно прекращены полномочия члена правления ОТЛК ЕРА']
              .recruitment-processes__hr-mark=item
            .incorporated-solutions__subtitle.second Внеочередное общее собрание акционеров <br>от 13 мая 2022 года
            each item in ['Избран председательствующий на внеочередном общем собрании акционеров', 'Досрочно прекращены полномочия членов совета директоров ОТЛК ЕРА', 'Избран совет директоров ОТЛК ЕРА в новом составе', 'Избран председатель совета директоров']
              .recruitment-processes__hr-mark=item
            .incorporated-solutions__subtitle.third Внеочередное общее собрание акционеров <br>от 29 сентября 2022 года
            .recruitment-processes__hr-mark Принято решение о выплате (объявлении) дивидендов по итогам <br>I полугодия 2022 года
          .incorporated-solutions__col 
            .incorporated-solutions__subtitle Годовое общее собрание акционеров <br>от 15 июня 2022 года
            each item in ['Утверждена годовая бухгалтерская (финансовая) отчетность ОТЛК ЕРА за 2021 год, подготовленная в соответствии с Российскими стандартами бухгалтерского учета', 'Утверждена годовая финансовая отчетность Общества за 2021 год, подготовленная в соответствии с международными стандартами финансовой отчетности', ' Утвержден годовой отчет компании за 2021 год', 'Принято решение о распределении чистой прибыли, полученной по результатам деятельности ОТЛК ЕРА за 2021 год', 'Принято решение о выплате (объявлении) дивидендов по результатам 2021 года', 'Принято решение о выплате членам совета директоров ОТЛК ЕРА годового вознаграждения в соответствии с положением о порядке выплаты вознаграждений и компенсаций членам совета директоров, утвержденным годовым общим собранием акционеров (протокол от 16.09.2020 № 10)', 'Принято решение о выплате членам ревизионной комиссии ОТЛК ЕРА годового вознаграждения в соответствии с положением о выплате членам ревизионной комиссии вознаграждений и компенсаций, утвержденным внеочередным общим собранием акционеров (протокол от 10.10.2018 № 2)', 'Избран совет директоров ОТЛК ЕРА в новом составе', 'Избран председатель cовета директоров', 'Избрана ревизионная комиссия в новом составе', 'Избран новый член правления ОТЛК ЕРА с 15 июня 2022 года по 1 апреля 2024 года включительно']
              .recruitment-processes__hr-mark=item
      .incorporated-council
        h2.incorporated-council__title Совет директоров
        .incorporated-council__row 
          .incorporated-council__subtitle.col Совет директоров ОТЛК ЕРА – орган управления, который осуществляет стратегическое руководство деятельностью общества в целях увеличения его акционерной стоимости.
          .incorporated-council__desk  
            .incorporated-council__text.mb-16.col Совет директоров принимает решения по всем вопросам общего руководства, за исключением вопросов, отнесенных к компетенции общего собрания акционеров, правления и генерального директора. Орган играет ключевую роль в формировании и развитии системы корпоративного управления, защищает и реализует права акционеров, контролирует деятельность исполнительных органов.
            .incorporated-council__text.col Порядок работы совета директоров определен положением о совете директоров ОТЛК ЕРА, которое общее собрание акционеров утвердило 22 июля 2021 года. В состав совета директоров не входят независимые директора.
        .incorporated-council__subsection 
          .incorporated-council__subsection-col 
            .incorporated-council__subsection-subtitle Совет директоров избирается общим собранием акционеров ОТЛК ЕРА на срок до следующего годового общего собрания акционеров в количестве шести членов, из которых:
          .incorporated-council__subsection-col
            each item in ['Двое избираются из числа кандидатов, предложенных ОАО «РЖД»', 'Двое избираются из числа кандидатов, предложенных АО «НК «КТЖ»', 'Двое избираются из числа кандидатов, предложенных Белорусской железной дорогой']
              .recruitment-processes__hr-mark=item
            .incorporated-council__subsection-text.mb-20 В своей деятельности совет директоров руководствуется действующим российским законодательством, акционерным соглашением, уставом компании, положением о совете директоров и другими внутренними документами ОТЛК ЕРА.
            .incorporated-council__subsection-text Совет директоров правомочен принимать решения по вопросам своей компетенции, если в нем участвует не менее половины от числа избранных членов. Важное условие: должна присутствовать (или предоставить письменное мнение) хотя бы одна кандидатура от каждого из акционеров. 
        .incorporated-council__chairman
          .incorporated-council__chairman-title 
          .incorporated-council__chairman-row 
            