mixin incorporated
  .container-content 
    .incorporated
      .incorporated__title ОТЛК&nbsp;ЕРА была создана в результате реорганизации АО «ОТЛК» путем выделения трех обществ
      .incorporated-plugs 
        each item in ['АО «ОТЛК ЕРА»', 'АО «ОТЛК Логистика»', 'АО «ОТЛК Финансы»']
          .incorporated-plugs__item
            .incorporated-plugs__item-background 
              +inco-svg-logo
            .incorporated-plugs__item-text=item
      .incorporated__title По итогам реорганизации в ОТЛК&nbsp;ЕРА закрепилось паритетное участие администраций трех железных дорог
      .incorporated-cards  
        .incorporated-cards__item.light 
          .incorporated-cards__item-title ОАО «РЖД»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Открытое акционерное общество «Российские железные дороги», ОГРН 1037739877295,107174, г. Москва, вн. тер. г. муниципальный округ <br>Басманный, ул. Новая Басманная, д. 2/1, стр. 1. 
        .incorporated-cards__item.green 
          .incorporated-cards__item-title АО «НК «КТЖ»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Акционерное общество «Национальная компания «Казахстан темир жолы», зарегистрированное за номером 11867-1901-АО, Республика Казахстан, 010000, г. Астана, <br>ул. Д. Кунаева, 6.
        .incorporated-cards__item.light 
          .incorporated-cards__item-title Белорусская железная дорога
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Государственное объединение «Белорусская железная дорога», УНП 100088574, ОКПО 00047792, Республика Беларусь, 220030,<br> г. Минск, ул. Ленина, 17.
      .incorporated-capital
        .incorporated-capital__texts 
          .incorporated-capital__texts-title Размер уставного капитала ОТЛК&nbsp;ЕРА составляет 98 127 000 рублей
          .incorporated-capital__texts-text.text Уставный капитал Общества состоит из 98 127 обыкновенных именных бездокументарных акций номинальной стоимостью 1 000 (одна тысяча) рублей каждая. Каждому из трех участников принадлежит по 32 709 акций. 
        .incorporated-capital__img 
          +picture('incorporated-capital.png')
      .incorporated-dividends
        h2.incorporated-dividends__title Дивидендная политика
        .incorporated-dividends__text.text Годовое общее собрание акционеров утвердило положение о дивидендной политике ОТЛК&nbsp;ЕРА 30 июня 2021 года (протокол от 30.06.2021 № 14). Дивидендная политика распространяет сове действие с даты исполнения Обществом обязательств по выплате дивидендов за отчетный 2020 год.  
      .incorporated-dividends__principes
        .incorporated-dividends__principes-title Три главных принципа
        .incorporated-dividends__cards 
          .incorporated-dividends__card
            .incorporated-dividends__card-title Законность
            .incorporated-dividends__card-text Соблюдаем права акционеров в соответствие с законодательством РФ и современной мировой практикой в области корпоративного управления
          .incorporated-dividends__card
            .incorporated-dividends__card-title Сбалансированность целей
            .incorporated-dividends__card-text Соблюдаем права акционеров в соответствие с законодательством РФ и современной мировой практикой в области корпоративного управления
          .incorporated-dividends__card
            .incorporated-dividends__card-title Открытость
            .incorporated-dividends__card-text Повышаем прозрачность механизма определения размера дивидендов и их выплаты, облегчаем доступ к информации, консультируем акционеров
        .incorporated-dividends__principes-subtext Решения о выплате дивидендов принимает общее собрание акционеров только по результатам полугодия и отчетного года, следуя рекомендациям совета директоров ОТЛК&nbsp;ЕРА. При этом соблюдается периодичность — по результатам полугодия и отчетного года.
      .incorporated-conditions
        .incorporated-conditions__title.desktop Условия решения <br> об объявлении <br>и выплате дивидендов
        .incorporated-conditions__title.mobile Условия решения об объявлении и выплате дивидендов
        .incorporated-conditions__list 
          each item in ['Чистая прибыль определяется по данным бухгалтерской (финансовой) отчетности ОТЛК ЕРА, составленной в соответствии с требованиями РСБУ', 'Распределению подлежит не менее 50% чистой прибыли ОТЛК ЕРА за отчетный период (фиксированный размер)', 'Решение не нарушает какие-либо обязательства Общества и российское законодательство', 'При определении общего размера дивидендов учитываются финансовое состояние компании и прогнозная потребность в оборотном капитале']
            .recruitment-processes__hr-mark=item
      .incorporated-accrued
        .incorporated-accrued__title Начисленные и выплаченные дивиденды в 2022 году
        .incorporated-accrued__img.desktop 
          +picture('incorporated-dividends-table.png')
        .incorporated-accrued__img-container
          .incorporated-accrued__img.mobile 
            +picture('incorporated-dividends-table-mobile.png')
      .incorporated-shareholders
        h2.incorporated-shareholders__title Общее собрание акционеров
        .incorporated-shareholders__hero-row 
          p.incorporated-shareholders__hero-subtitle Общее собрание акционеров — высший орган управления ОТЛК&nbsp;ЕРА, ответственный за принятие решений по ключевым вопросам деятельности, которые сформулированы в Федеральном законе от 26 декабря 1995 года № 208-ФЗ «Об акционерных обществах».
          .incorporated-shareholders__hero-texts  
            p.incorporated-shareholders__hero-text.top.text В своей работе орган руководствуется действующим российским законодательством, акционерным соглашением, уставом компании ОТЛК&nbsp;ЕРА, положением o порядке подготовки и проведения общего собрания акционеров и другими внутренними документами.
            p.incorporated-shareholders__hero-text.text Общее собрание акционеров обладает правом принимать решения по вопросам своей компетенции, если в нем участвуют акционеры компании, обладающие в совокупности 3/4 голосов размещенных голосующих акций ОТЛК&nbsp;ЕРА. Таким образом, принимать участие в общем собрании должны все три акционера Общества. Вопросы, отнесенные к компетенции общего собрания акционеров, делятся на особо важные, специальные и остальные.
      .incorporated-solutions
        h3.incorporated-solutions__title Основные решения в 2022 году
        .incorporated-solutions__row 
          .incorporated-solutions__col 
            .incorporated-solutions__subtitle Внеочередное общее собрание акционеров <br>от 7 апреля 2022 года
            each item in ['Избран председательствующий на внеочередном общем собрании акционеров ОТЛК ЕРА', 'Досрочно прекращены полномочия члена правления ОТЛК ЕРА']
              .recruitment-processes__hr-mark=item
            .incorporated-solutions__subtitle.second Внеочередное общее собрание акционеров <br>от 13 мая 2022 года
            each item in ['Избран председательствующий на внеочередном общем собрании акционеров', 'Досрочно прекращены полномочия членов совета директоров ОТЛК ЕРА', 'Избран совет директоров ОТЛК ЕРА в новом составе', 'Избран председатель совета директоров']
              .recruitment-processes__hr-mark=item
            .incorporated-solutions__subtitle.third Внеочередное общее собрание акционеров <br>от 29 сентября 2022 года
            .recruitment-processes__hr-mark.custom Принято решение о выплате (объявлении) дивидендов по итогам I полугодия 2022 года
          .incorporated-solutions__col 
            .incorporated-solutions__subtitle Годовое общее собрание акционеров <br>от 15 июня 2022 года
            each item in ['Утверждена годовая бухгалтерская (финансовая) отчетность ОТЛК ЕРА за 2021 год, подготовленная в соответствии с Российскими стандартами бухгалтерского учета', 'Утверждена годовая финансовая отчетность Общества за 2021 год, подготовленная в соответствии с международными стандартами финансовой отчетности', ' Утвержден годовой отчет компании за 2021 год', 'Принято решение о распределении чистой прибыли, полученной по результатам деятельности ОТЛК ЕРА за 2021 год', 'Принято решение о выплате (объявлении) дивидендов по результатам 2021 года', 'Принято решение о выплате членам совета директоров ОТЛК ЕРА годового вознаграждения в соответствии с положением о порядке выплаты вознаграждений и компенсаций членам совета директоров, утвержденным годовым общим собранием акционеров (протокол от 16.09.2020 № 10)', 'Принято решение о выплате членам ревизионной комиссии ОТЛК ЕРА годового вознаграждения в соответствии с положением о выплате членам ревизионной комиссии вознаграждений и компенсаций, утвержденным внеочередным общим собранием акционеров (протокол от 10.10.2018 № 2)', 'Избран совет директоров ОТЛК ЕРА в новом составе', 'Избран председатель cовета директоров', 'Избрана ревизионная комиссия в новом составе', 'Избран новый член правления ОТЛК ЕРА с 15 июня 2022 года по 1 апреля 2024 года включительно']
              .recruitment-processes__hr-mark=item
      .incorporated-council
        h2.incorporated-council__title Совет директоров
        .incorporated-council__row 
          .incorporated-council__subtitle.col Совет директоров ОТЛК&nbsp;ЕРА – орган управления, который осуществляет стратегическое руководство деятельностью общества в целях увеличения его акционерной стоимости.
          .incorporated-council__desk  
            .incorporated-council__text.mb-16.col.text Совет директоров принимает решения по всем вопросам общего руководства, за исключением вопросов, отнесенных к компетенции общего собрания акционеров, правления и генерального директора. Орган играет ключевую роль в формировании и развитии системы корпоративного управления, защищает и реализует права акционеров, контролирует деятельность исполнительных органов.
            .incorporated-council__text.col.text Порядок работы совета директоров определен положением о совете директоров ОТЛК&nbsp;ЕРА, которое общее собрание акционеров утвердило 22 июля 2021 года. В состав совета директоров не входят независимые директора.
        .incorporated-council__subsection 
          .incorporated-council__subsection-col 
            .incorporated-council__subsection-subtitle Совет директоров избирается общим собранием акционеров ОТЛК&nbsp;ЕРА на срок до следующего годового общего собрания акционеров в количестве шести членов, из которых:
          .incorporated-council__subsection-col
            each item in ['Двое избираются из числа кандидатов, предложенных ОАО «РЖД»', 'Двое избираются из числа кандидатов, предложенных АО «НК «КТЖ»', 'Двое избираются из числа кандидатов, предложенных Белорусской железной дорогой']
              .recruitment-processes__hr-mark=item
            .incorporated-council__subsection-text.mb-20.text В своей деятельности совет директоров руководствуется действующим российским законодательством, акционерным соглашением, уставом компании, положением о совете директоров и другими внутренними документами ОТЛК&nbsp;ЕРА.
            .incorporated-council__subsection-text.text Совет директоров правомочен принимать решения по вопросам своей компетенции, если в нем участвует не менее половины от числа избранных членов. Важное условие: должна присутствовать (или предоставить письменное мнение) хотя бы одна кандидатура от каждого из акционеров. 
        .incorporated-council__chairman
          .incorporated-council__chairman-title Председатель совета директоров
          .incorporated-council__chairman-row 
            .incorporated-council__chairman-col 
              .incorporated-council__chairman-subtitle Председатель совета директоров выполняет центральную роль в обеспечении эффективной работы совета директоров: организует его работу, включая ведение протокола, созывает заседания и председательствует на них.
              .incorporated-council__chairman-text.text Председатель совета директоров выполняет также иные функции, которые предусмотрены действующим законодательством, уставом компании, положением о совете директоров ОТЛК&nbsp;ЕРА и другими внутренними документами.
            .incorporated-council__chairman-col 
              .incorporated-council__chairman-text.text Председатель совета директоров избирается общим собранием акционеров ОТЛК&nbsp;ЕРА одновременно с избранием совета директоров с учетом положений акционерного соглашения.
              .incorporated-council__chairman-text.text Если на общем собрании акционеров не избрали на эту должность, совет директоров на первом заседании, состоявшемся после его избрания, простым большинством голосов от общего числа членов избирает председателя совета директоров. 
              .incorporated-council__chairman-text.text Совет директоров вправе в любое время переизбрать своего председателя большинством голосов своих членов, принимающих участие в заседании, с учетом положений акционерного соглашения.
        .incorporated-council__insurance
          .incorporated-council__insurance-title.title-24  Страхование ответственности
          .incorporated-council__insurance-text.text В течение 2022 года один из акционеров ОТЛК&nbsp;ЕРА (ОАО «РЖД») застраховал ответственность директоров и должностных лиц ОТЛК ЕРА.
      .incorporated-corporative
        h2.incorporated-corporative__title Корпоративный секретарь  
        .incorporated-corporative__row 
          .incorporated-corporative__subtitle Корпоративный секретарь ОТЛК&nbsp;ЕРА, избираемый советом директоров, отвечает за коммуникацию с акционерами и советом директоров, координирует деятельность по защите их прав и интересов, обеспечивает принятие корпоративных решений, а также выполняет ряд других функций.
          .incorporated-corporative__desk 
            .incorporated-corporative__text.text Корпоративный секретарь действует в соответствии с уставом компании и положением о корпоративном секретаре, утвержденном советом директоров. Кроме того, он исполняет функции секретаря общего собрания акционеров Общества. 
            .incorporated-corporative__text.text Секретаря комитета совета директоров избирает соответствующий комитет. Функции специалиста закреплены в положении о комитете, они соответствуют российскому законодательству и уставу компании. Секретарь комитета подотчетен в своей деятельности председателю комитета.
            .incorporated-corporative__text.text С 1 января 2022 года секретарем комитетов была Маргарита Павловна Герасина (протоколы комитета по стратегии от 30.07.2021 № 11, от 11.07.2022 № 20; протоколы комитета по аудиту от 05.08.2021 № 11, от 06.07.2022 № 18; протоколы комитета по кадрам, вознаграждениям и корпоративному управлению от 02.08.2021 № 9, от 15.06.2022 № 15). Ее полномочия были досрочно прекращены с 6 сентября 2022 года. Начиная с 29 сентября 2022 года и по настоящее время функции секретаря комитетов осуществляет Дмитрий Александрович Булгаков (протокол комитета по стратегии от 29.09.2022 № 23; протокол комитета по аудиту от 29.09.2022 № 19; протокол комитета по кадрам, вознаграждениям и корпоративному управлению от 29.09.2022 № 17).
  .alt-preview 
    .alt-preview__img.desktop 
      +picture('bulgakov.png')
    .alt-preview__img.mobile 
      .preview__line
      +picture('bulgakov-mobile.png')
    .alt-preview__content 
      p.alt-preview__title Булгаков <br>Дмитрий Александрович
      p.alt-preview__job Заместитель директора правового департамента по корпоративной работе
      .alt-preview__dates 
        .alt-preview__dates-col.bulgakov-left 
          p.alt-preview__dates-top Год рождения
          p.alt-preview__dates-bot 1992
        .alt-preview__dates-col.bulgakov-right  
          p.alt-preview__dates-top Гражданство
          p.alt-preview__dates-bot Российская Федерация
      .alt-preview__knowledge
        .alt-preview__knowledge-col.bulgakov  
          p.alt-preview__knowledge-title Карьера
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2023 — по настоящее время
              p.knowledge-mark__text Заместитель директора правового департамента по корпоративной работе ОТЛК&nbsp;ЕРА
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2019 — 2022
              p.knowledge-mark__text Начальник отдела по корпоративной работе ОТЛК&nbsp;ЕРА
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2016 — 2019
              p.knowledge-mark__text Начальник отдела корпоративного направления АО ГУ «ЖКХ»
        .alt-preview__knowledge-col.bulgakov  
          p.alt-preview__knowledge-title Образование
          .alt-preview__knowledge-column 
            .alt-preview__knowledge-top 
              .knowledge-mark
                .knowledge-mark__icon 
                  +mark-text-svg 
                .knowledge-mark__desk 
                  p.knowledge-mark__text Саратовская государственная юридическая академия права (СГАП), специальность «юриспруденция»
              .knowledge-mark
                .knowledge-mark__icon 
                  +mark-text-svg 
                .knowledge-mark__desk 
                  p.knowledge-mark__text Московский государственный юридический университет имени О.Е. Кутафина, специальность «корпоративный юрист»
            .alt-preview__knowledge-bot.bulgakov 
              .alt-preview__knowledge-shares Доля в уставном капитале ОТЛК&nbsp;ЕРА — 0%
              .alt-preview__knowledge-shares Доля обыкновенных акций ОТЛК&nbsp;ЕРА — 0%
  .container-content 
    .incorporated-governing
      h2.incorporated-governing__title Правление и генеральный директор
      .incorporated-governing__row 
        .incorporated-governing__subtitle Ключевая роль в обеспечении оперативного и эффективного решения текущих и стратегических задач принадлежит исполнительным органам ОТЛК&nbsp;ЕРА — генеральному директору и правлению. 
        .incorporated-governing__desk 
          .incorporated-governing__text.text  К компетенции исполнительных органов устав компании относит решение всех вопросов текущей деятельности. Исключение составляют вопросы, отнесенных к компетенции общего собрания акционеров и совета директоров. 
          .incorporated-governing__text.text Исполнительные органы подотчетны общему собранию акционеров и совету директоров. Генеральный директор представляет совету директоров ежеквартальные отчеты, позволяющие оценить эффективность и результаты работы ОТЛК&nbsp;ЕРА.
    .incorporated-general
      .incorporated-general__title Генеральный директор 
      .incorporated-general__row 
        .incorporated-general__col 
          .incorporated-general__text.text Генеральный директор — единоличный исполнительный орган ОТЛК&nbsp;ЕРА — избирается общим собранием акционеров на определенный собранием срок. Трудовой договор с генеральным директором от имени компании подписывает председатель совета директоров или лицо, им уполномоченное.
          .incorporated-general__text.text Генеральный директор осуществляет оперативное руководство деятельностью компании и действует в рамках своей компетенции (по уставу ОТЛК&nbsp;ЕРА).
        .incorporated-general__col 
          .incorporated-general__subtitle Компетенции генерального директора
          each item in ['Представление интересов ОТЛК ЕРА', 'Совершение сделок от имени компании, не требующих одобрения правления, совета директоров и общего собрания акционеров', 'Подписание финансовых документов', 'Утверждение штатов, заключение трудовых договоров с сотрудниками, применение к ним мер поощрения или взыскания', 'Утверждение внутренних документов ОТЛК ЕРА, регулирующих вопросы текущей деятельности компании, за исключением внутренних документов, утверждение которых отнесено уставом к компетенции правления, совета директоров и общего собрания акционеров', 'Издание приказов и указаний, обязательных для выполнения', 'Организация работы правления', 'Исполнение иных функций, определенных уставом ОТЛК ЕРА']
            .recruitment-processes__hr-mark=item
          .incorporated-general__grey До 1 апреля 2024 года включительно генеральным директором избран Алексей Николаевич Гром. 
  .alt-preview 
    .alt-preview__img.desktop 
      +picture('grom-cube.png')
    .alt-preview__img.mobile 
      .preview__line
      +picture('grom-cube-mobile.png')
    .alt-preview__content 
      p.alt-preview__title Гром <br>Алексей Николаевич
      p.alt-preview__job Генеральный директор, председатель правления
      .alt-preview__dates 
        .alt-preview__dates-col.bulgakov-left 
          p.alt-preview__dates-top Год рождения
          p.alt-preview__dates-bot 1971
        .alt-preview__dates-col.bulgakov-right  
          p.alt-preview__dates-top Гражданство
          p.alt-preview__dates-bot Российская Федерация
      .alt-preview__knowledge
        .alt-preview__knowledge-col.bulgakov  
          p.alt-preview__knowledge-title Карьера
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2019 год — по настоящее время
              p.knowledge-mark__text Генеральный директор ОТЛК&nbsp;ЕРА, председатель правления
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2018–2019 годы
              p.knowledge-mark__text Президент ОТЛК&nbsp;ЕРА, председатель правления
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2016–2020 годы
              p.knowledge-mark__text Президент АО «ОТЛК», председатель правления 
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2014–2015 годы
              p.knowledge-mark__text Первый заместитель генерального директора ООО «ПО ОТЛК» 
          .knowledge-mark
            .knowledge-mark__icon 
              +mark-text-svg 
            .knowledge-mark__desk 
              p.knowledge-mark__title 2012–2014 годы
              p.knowledge-mark__text Первый вице-президент FESCO
        .alt-preview__knowledge-col.bulgakov  
          p.alt-preview__knowledge-title Образование
          .alt-preview__knowledge-column 
            .alt-preview__knowledge-top 
              .knowledge-mark
                .knowledge-mark__icon 
                  +mark-text-svg 
                .knowledge-mark__desk 
                  p.knowledge-mark__text Московский институт инженеров транспорта, специальность «управление процессами перевозок»
              .knowledge-mark
                .knowledge-mark__icon 
                  +mark-text-svg 
                .knowledge-mark__desk 
                  p.knowledge-mark__text Стокгольмская школа экономики, специальность «мастер делового администрирования» (MBA)
            .alt-preview__knowledge-bot.grom 
              .alt-preview__knowledge-shares Доля в уставном капитале ОТЛК&nbsp;ЕРА — 0%
              .alt-preview__knowledge-shares Доля обыкновенных акций ОТЛК&nbsp;ЕРА — 0%
  .container-content
    .incorporated-direction 
      .incorporated-direction__title Правление
      .incorporated-direction__row 
        .incorporated-direction__col 
          .incorporated-direction__text.text Коллегиальный исполнительный орган ОТЛК&nbsp;ЕРА, который управляет текущей деятельностью компании, участвует в&nbsp;разработке и&nbsp;реализации стратегии, а&nbsp;также обеспечивает выполнение решений общего собрания акционеров и&nbsp;совета директоров. Правление руководствуется в&nbsp;своей деятельности действующим законодательством, акционерным соглашением, уставом <br>ОТЛК&nbsp;ЕРА, положением о&nbsp;правлении и&nbsp;другими внутренними документами. Общее собрание акционеров определяет состав правления (шесть человек из&nbsp;числа сотрудников) и&nbsp;срок его полномочий, учитывая также кандидатуры, предложенные генеральным директором.
          .incorporated-direction__text.text Заседания правления созываются по мере необходимости, но не реже одного раза в месяц, и, как правило, проходят в форме совместного присутствия. Работа правления осуществляется на основании утвержденного плана.
        .incorporated-direction__col 
          .incorporated-direction__subtitle Компетенции правления
          each item in ['Выработка и реализация текущей хозяйственной политики ОТЛК ЕРА', 'Одобрение сделок, связанных с кредитованием деятельности или займами компании, в том числе путем заключения договора займа, финансовой помощи или дарения на общую сумму, превышающую 2% балансовой стоимости активов на последнюю отчетную дату', 'Одобрение списания дебиторской и кредиторской задолженности ОТЛК ЕРА, если сумма такой задолженности и (или) требований превышает 2% балансовой стоимости активов на последнюю отчетную дату', 'Утверждение перечня услуг компании и цен', 'Иные полномочия в соответствии с действующим законодательством, акционерным соглашением, уставом компании, положением о правлении ОТЛК ЕРА и другими внутренними документами.']
            .recruitment-processes__hr-mark=item