//about

mixin busines-preview
  section.preview.busines-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title Бизнес–модель
            p.preview__description.desktop Наша операционная модель направлена на повышение объемов транзитных перевозок на полигоне 1520 за счет таких ключевых процессов, как:
            ul.preview__list.desktop 
              each item in ['Минимизация издержек','Формирование конкурентоспособного ценового предложения','Балансировка транзитных маршрутов','Организация вывода на рынок новых логистических услуг','Адаптация транзитных сервисов для новых групп грузоотправителей','Повышение скорости перевозки',]
                li.preview__item
                  +mark-text-svg
                  p.preview__item-text.text=item
          .row
            .preview__img.mobile-t
              +picture('selutin.png')
            p.preview__name Селютин <br/>Михаил Иванович
            p.preview__job Директор по развитию бизнеса и анализу рисков
            p.preview__description.mobile Наша операционная модель направлена на повышение объемов транзитных перевозок на полигоне 1520 за счет таких ключевых процессов, как:
            ul.preview__list.mobile 
              each item in ['Минимизация издержек','Формирование конкурентоспособного ценового предложения','Балансировка транзитных маршрутов','Организация вывода на рынок новых логистических услуг','Адаптация транзитных сервисов для новых групп грузоотправителей','Повышение скорости перевозки',]
                li.preview__item
                  +mark-text-svg
                  p.preview__item-text.text=item
        .preview__col-right
          .preview__img.desktop-t.safari-debug
            +picture('selutin.png')

mixin corruption-preview
  section.preview.corruption-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title Противодействие коррупции
            p.preview__description.desktop ОТЛК ЕРА категорически во всех видах и формах не приемлет коррупцию. 
            ul.preview__list.desktop 
              each item in ['Этот принцип распространяется не только на сотрудников компании, но и на контрагентов, с которыми нас связывают деловые и неформальные отношения.','В настоящее время повседневная и хозяйственная деятельность компании осуществляется в соответствии с Антикоррупционной политикой ОТЛК ЕРА, которую совет директоров утвердил 25 января 2021 года. ']
                li.preview__item
                  p.preview__item-text.text=item
          .row
            .preview__img.mobile-t
              +picture('klimochkin.png')
            p.preview__name Климочкин <br/>Александр Николаевич
            p.preview__job Директор по безопасности
            p.preview__description.mobile ОТЛК ЕРА категорически во всех видах и формах не приемлет коррупцию. 
            ul.preview__list.mobile 
              each item in ['Этот принцип распространяется не только на сотрудников компании, но и на контрагентов, с которыми нас связывают деловые и неформальные отношения.','В настоящее время повседневная и хозяйственная деятельность компании осуществляется в соответствии с Антикоррупционной политикой ОТЛК ЕРА, которую совет директоров утвердил 25 января 2021 года. ']
                li.preview__item
                  p.preview__item-text.text=item
        .preview__col-right
          .preview__img.desktop-t.safari-debug
            +picture('klimochkin.png')


//page-2
mixin trends-preview
  section.preview.trends-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Тренды логистической <br/>отрасли: время <br/>альтернатив
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('korobov-mobile.png')
            p.preview__name коробов <br/>Денис Сергеевич
            p.preview__job Начальник отдела клиентского сервиса департамента <br/> по работе с клиентами коммерческой дирекции
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('korobov.png')

mixin transit-preview
  section.preview.transit-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title Рынок ж/д транзита   <br/>Китай — Европа — Китай
            p.preview__description.desktop По итогам 2022 года общий объем железнодорожных транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по основным маршрутам МТК «Восток-Запад» сократился, а позиция ОТЛК ЕРА на рынке значительно упрочилась.
          .row
            .preview__img.mobile-t
              +picture('kadyrov-mobile.png')
            p.preview__name кадыров <br/>Айдар Ерболатович
            p.preview__job Ведущий менеджер департамента логистики коммерческой дирекции
            p.preview__description.mobile По итогам 2022 года общий объем железнодорожных транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по основным маршрутам МТК «Восток-Запад» сократился, а позиция ОТЛК ЕРА на рынке значительно упрочилась.
        .preview__col-right
          .preview__img.desktop-t.safari-debug
            +picture('kadyrov.png')

mixin landscape-preview
  section.preview.landscape-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Контекст бизнеса:  <br/>санкционный ландшафт
          .row
            .preview__img.landscape-preview__img.mobile-t
              +picture('seleznev-mobile.png')
            p.preview__name селезнев <br/>Андрей Сергеевич
            p.preview__job Сотрудник диспетчерского центра дирекции по перевозкам
        .preview__col-right
          .preview__img.landscape-preview__img.desktop-t.safari-debug
            +picture('seleznev.png')

mixin strategy-preview
  section.preview.strategy-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Стратегия <br/>технологического лидера
          .row
            .preview__img.mobile-t 
              +picture('kovaleva-mobile.png')
            p.preview__name Ковалева <br/>Дарья Александровна
            p.preview__job Системный аналитик отдела сопровождения информационных систем
        .preview__col-right
          .preview__img.desktop-t.safari-debug
            +picture('kovaleva.png')

////Page-3
mixin direction-preview
  section.preview.security-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Главные направления <br/> цифрового развития
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('anpilov-mobile.png')
            p.preview__name Анпилов <br/>Кирилл Андреевич
            p.preview__job Начальник отдела сопровождения информационных систем
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('direction-preview.png')

mixin preservation-preview
  section.preview.preservation-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Сохранить достигнутое
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('lazutova-mobile.png')
            p.preview__name Лазутова <br/>Елена Михайловна
            p.preview__job Директор финансово-экономического департамента
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('preservation-preview.png')
mixin profit-preview
  section.preview.preservation-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Прибыль от продаж 
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('solov-mobile.png')
            p.preview__name Соловьева <br/>Екатерина Михайловна
            p.preview__job Заместитель главного бухгалтера —директора департамента
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('profit-preview.png')

mixin case-preview
  section.preview.case-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title С заботой о деловом <br/> климате
            p.preview__description.desktop-t Мы работаем над формированием благоприятных правовых <br/>  условий, которые способствуют предоставлению высокого уровня <br/>  сервиса.
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('lipatova-mobile.png')
            p.preview__name Липатова <br/>Марина Александровна
            p.preview__job Заместитель начальника управления делами
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('case-preview.png')
        .row.mobile-t.case-preview__row
              p.preview__description.case-preview__description Мы работаем над формированием благоприятных правовых <br class='br'/>  условий, которые способствуют предоставлению высокого уровня <br class='br'> сервиса.

mixin econimics-preview
  section.preview.trends-preview.preview-margin
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Глобальная экономика <br/> и логистический рынок <br/>в 2022 году
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('ivanov-mobile.png')
            p.preview__name Иванов <br/>Артемий Павлович
            p.preview__job Начальник отдела маркетинговых исследований
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('ivanov-prev.png')

mixin share-provinces-preview
  section.preview.trends-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .preview-left__top.preview-left__desktop 
            .preview__title.small-title Доля провинций в 2022 году
              .preview__vector 
                +picture('share-provinces-page3.png')
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('pahomov-mobile.png')
            p.preview__name Пахомов <br/>Евгений Владимирович 
            p.preview__job.desktop Заместитель директора департамента по контролю расчетов <br>и производственного анализа коммерческой дирекции
            p.preview__job.mobile.mobile-custom Заместитель директора департамента по контролю расчетов и производственного анализа коммерческой дирекции
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('pahomov.png')


mixin formation-park-preview
  section.preview.trends-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Формирование парка:  <br/>оптимизация
          .preview__text.desktop Ключевой фактор роста перевозок — наличие у компании необходимого количества подвижного состава для крупнотоннажных контейнеров. В 2019–2022 годах на волне спроса мы серьезно увеличили парк. 
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('androsova-mobile.png')
            p.preview__name Андросова <br/>Елена Владимировна 
            p.preview__job Начальник отдела по организации расчетов коммерческой дирекции
            .preview__text.mobile.preview__text_subtitle Ключевой фактор роста перевозок — наличие у компании необходимого количества подвижного состава для крупнотоннажных контейнеров. В 2019–2022 годах на волне спроса мы серьезно увеличили парк. 
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('androsova.png')


mixin client-portfolio-preview
  section.preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            h2.preview__title Клиентский портфель
            .preview__text Ряд факторов обеспечил активный рост клиентского портфеля ОТЛК ЕРА в 2022 году.  Среди них – высокая степень надежности, уровень сервисного обслуживания и поддержки клиентов. 
            .preview__cards 
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 65
                  .ge-card__text компаний 
                .ge-card__bot
                  .ge-card__text-grey Привлекли к комплексному обслуживанию с начала года
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 23
                  .ge-card__text из них 
                .ge-card__bot
                  .ge-card__text-grey Новые клиенты по прямому договору
          .row
            p.preview__name Костикова <br/>Юлия Игоревна 
            p.preview__job.alt Заместитель начальника отдела клиентского сервиса коммерческой дирекции
        .preview__col-right.pt-14
          .preview__img.safari-debug 
            +picture('kosticova-final.png')

//page-4
mixin security-preview
  section.preview.security-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Охрана труда и пожарная <br/> безопасность
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('tarasova-mobile.png')
            p.preview__name Тарасова <br/>Галина Александровна
            p.preview__job Заместитель директора административно-хозяйственного департамента
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('tarasova.png')
mixin ecology-preview
  section.preview.ecology-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Экологичность <br/> как конкурентное <br/> преимущество
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('xm-mobile.png')
            p.preview__name Хмельницкая <br/> Анна Александровна
            p.preview__job Начальник отдела маркетинговых коммуникаций
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('xmelnitskaya.png')

mixin charity-preview
  section.preview.charity-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Люди прежде всего: <br/> благотворительность
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('baruzdina-mobile.png')
            p.preview__name Баруздина <br/> Ольга Александровна
            p.preview__job Директор по организационному развитию
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('baruzdina.png')

mixin energy-preview
  section.preview.charity-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Использование  <br/> энергетических ресурсов
          table.preview-table
            thead.preview-table__top  
              tr.preview-table__row
                each i in ['Показатель за 2022 год','Расход','Сумма, руб']
                  th.preview-table__name=i
            tbody.preview-table__bottom
              tr.preview-table__row
                td.preview-table__item Энергоснабжение, кВт
                td.preview-table__item.preview-table__item_bold 218 122,14
                td.preview-table__item.preview-table__item_bold  1 415 662,45
              tr.preview-table__row
                td.preview-table__item Водоснабжение, куб.м
                td.preview-table__item.preview-table__item_bold 1540,44
                td.preview-table__item.preview-table__item_bold  112 002,63
              tr.preview-table__row
                td.preview-table__item Теплопотребление, Гкал/ куб. м
                td.preview-table__item.preview-table__item_bold 369,16
                td.preview-table__item.preview-table__item_bold  766 022,07
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('por-mobile.png')
            p.preview__name Порощай <br/> Алина Юрьевна
            p.preview__job Директор административно-хозяйственного департамента
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('porochay.png')



mixin human-capital-preview
  section.preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            .preview__text-normal В течение 2022 года в компанию было принято 27 человек — на 4 человека, или на 12,5%, больше, чем в 2021 году. Уволено 9 человек.
            .ge-card.green
                .ge-card__top
                  .ge-card__num.green 5,88%
                .ge-card__bot
                  .ge-card__text-grey Коэффициент текучести кадров в 2022 году при норме в 5-7% 
          .row
            p.preview__name Кучурина <br/>Ирина Владимировна 
            p.preview__job.alt Главный специалист по кадровому администрированию
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3.alt
          .preview__img.safari-debug 
            +picture('cuchurina-preview.png')


mixin corporate-responsibility-preview
  section.preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            h2.preview__title Корпоративная социальная <br>ответственность
          .row
            p.preview__name Шмидт <br/>Елена Вячеславовна  
            p.preview__job.alt Главный специалист по внутренним коммуникациям
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3.alt
          .preview__img.safari-debug 
            +picture('shmidt.png')



//page-5

mixin incorporated-preview
  section.preview.trends-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Акционерный капитал
          .preview__text.grey Акционерное общество «Объединенная транспортно-логистическая компания – Евразийский железнодорожный альянс» зарегистрировано 2 апреля 2018 года Межрайонной инспекцией ФНС №46 по г. Москве за основным государственным регистрационным номером 1187746369590 (ИНН 9701104646).
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('pavlova.png')
            p.preview__name Павлова <br/>Ксения Вячеславовна 
            p.preview__job Руководитель направления по работе с финансовыми инструментами
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t.safari-debug
            +picture('pavlova.png')

mixin controls-preview
  section.preview.controls
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Система контроля
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('korobov-mobile.png')
            p.preview__name Павлушкова <br/>Ирина Анатольевна
            p.preview__job Главный бухгалтер – директор департамента
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('pavluchkova.png')

mixin reward-preview
  section.preview.controls
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Система <br> вознаграждения
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('korobov-mobile.png')
            p.preview__name Иванова <br/>Марина Владимировна
            p.preview__job Директор департамента управления персоналом
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('ivanova.png')
            
mixin risk-preview
  section.preview.controls
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Управление рисками
          .row
            .preview__img.transit-preview__img.mobile-t
              +picture('korobov-mobile.png')
            p.preview__name Белякова <br/>Анна Владимировна
            p.preview__job Заместитель коммерческого директора – директор департамента контроля <br class='br'/> расчетов и производственного анализа коммерческой дирекции
        .preview__col-right
          .preview__img.transit-preview__img.desktop-t
            +picture('belyakova.png')
