mixin risk-content  
  section.risk.mt-section
    .container-content 
      .risk__inner 
        .risk__left
          p.risk__desciption.description Учитывая высокую степень геополитической напряженности, правление ОТЛК ЕРА приняло решение о формировании полноценной системы управления рисками.
        .col 
          ul.list
            each item in ['Сформирована рабочая группа по внедрению системы управления рисками (Приказ ОТЛК ЕРА от 24 декабря 2021 года № 64)','Утверждена политика по управлению рисками ОТЛК ЕРА (протокол совета директоров от 11 мая 2022 года № 52)','Утверждены регламент по управлению рисками ОТЛК ЕРА и методические рекомендации по управлению рисками 11 мая 2022 года','Проведено обучение широкого круга сотрудников, вовлеченных в процессы управления рисками',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
  section.risk-analysis.mt-section
    .container-content 
      .risk-analysis__inner 
        h2.risk-analysis__title SWOT-анализ
        .risk-analysis__box
          p.risk-analysis__item-subtitle Внутренние факторы
          .row
            .risk-analysis__item 
              +picture('s.png').risk-analysis__item-img
              p.risk-analysis__item-title Сильные стороны
              ul.list.risk-analysis__list
                each item in ['Уникальность ресурса – международного сотрудничества на пространстве ЕАЭC','Лидерство на рынке по издержкам за счет постоянной оптимизации и выстраивания системы долгосрочного партнерства','Адаптивность выстроенных бизнес-процессов Общества к внешним вызовам','Клиентский сервис в формате «единого окна»','Операционная и финансовая стабильность <br> Общества',]
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text!=item 
            .risk-analysis__item 
              +picture('w.png').risk-analysis__item-img
              p.risk-analysis__item-title Слабые стороны
              ul.list.risk-analysis__list
                each item in ['Ограничения бизнес-модели, в т.ч. полигона работы <br> Общества','Отсутствие доступа к конечным грузоотправителям','Отсутствие информации о стоимости компонентов <br> комплексной  логистической услуги, не входящих в <br> зону ответственности  Общества','Перекрестная структура клиентов и исполнителей <br> компонентов услуги (одни и те же компании)','Длительность принятия корпоративных решений <br> в связи с необходимостью согласования интересов <br> трех акционеров','Отсутствие IT-системы управления <br> взаимоотношений с клиентами',]
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text!=item 
        .risk-analysis__box
          p.risk-analysis__item-subtitle Внешние факторы
          .row
            .risk-analysis__item 
              +picture('o.png').risk-analysis__item-img
              p.risk-analysis__item-title Сильные стороны
              ul.list.risk-analysis__list
                each item in ['Растущий спрос на импортные и экспортные <br> перевозки с КНР','Реализация скоординированной программы развития <br> и интеграции транспортной системы ЕАЭС','Развитие международных программ с участием <br> Общества, направленных на тестирование новых <br> технологий и сервисов, прежде всего цифровых','Трансформация структуры рынка контейнерных <br> перевозок, появление новых маршрутов/ игроков','Развитие терминальной сети на пространстве ЕАЭС','Наличие потенциального спроса, обусловленного <br> стабильностью железнодорожного транспорта',]
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text!=item 
            .risk-analysis__item 
              +picture('t.png').risk-analysis__item-img
              p.risk-analysis__item-title Угрозы
              ul.list.risk-analysis__list
                each item in ['Снижение субсидирования железнодорожных <br> перевозок в КНР','Санкционная политика ЕС','Отказ международных страховых компаний <br> от страхования грузов, следующих через полигон работы Общества','Усиление конкуренции международных <br> транспортных коридоров и развитие альтернативных <br> погранпереходов','Изменение тарифной политики акционеров в  <br> отношении Общества','Неблагоприятные рыночные колебания <br> по валютным парам',]
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text!=item 
  section.risk-task.mt-section
    .container-content 
      .risk-task__inner
        .risk-task__row
          h3.risk-task__title Ключевые задачи управления рисками  
          p.risk-task__text_top Модель управления рисками строится на концепции трех линий защиты:
          .risk-task__box
            .card-line
              +column-top-svg.card-line__svg
              h3.card-line__title 1 линия
              .card-line__row 
                .card-line__col
                  .row
                    p.card-line__description Владельцы рисков — структурные подразделения
                  .row
                    p.card-line__description Задачи
                    p.card-line__text.text Несут основную ответственность за управление рисками, связанными с повседневной операционной деятельностью организации
                .card-line__col 
                  p.card-line__description Функции
                  ul.list
                      each item in ['Выявляют и анализируют риски, присущие ежедневной <br> бизнес-деятельности в рамках своей функциональной <br> области','Передают информацию/обсуждают риски с руководством, для <br> учета при принятии решений','Разрабатывают и применяют мероприятия и контрольные  <br> процедуры в целях минимизации рисков в рамках своей функциональной области',]
                        li
                          +mark-text-svg.list-svg
                          p.text.list__text!=item 
            .card-line
              +column-top-svg.card-line__svg
              h3.card-line__title 2 линия
              .card-line__row 
                .card-line__col
                  .row
                    p.card-line__description Контрольные подразделения
                    p.card-line__description Подразделение по управлению рисками
                  .row
                    p.card-line__description Задачи
                    p.card-line__text.text Выявляют возникающие риски, реализуют упреждающий подход, выявляют потенциальные пробелы в системе контроля
                .card-line__col 
                  p.card-line__description Функции
                  .row
                    p.description_20 Управление рисками
                    ul.list
                        each item in ['Отвечает за методологическое обеспечение и координацию процессов управления рисками','Оказывает консультационную поддержку 1-й линии защиты при выявлении и оценке рисков, определении приемлемого уровня рисков, разработке мероприятий и контрольных процедур','Подготавливает отчетность по вопросам управления рисками, содержащую актуальную и достаточную информацию о рисках',]
                          li
                            +mark-text-svg.list-svg
                            p.text.list__text=item 
                  .row
                    p.description_20 Прочие контрольные подразделения
                    ul.list
                        each item in [`Выполняют/оказывают содействие 1-й линии защиты в <br> выявлении и анализе кросс-функциональных рисков по <br> своему направлению`,'Разрабатывают и внедряют мероприятия и контрольные <br> процедуры в целях минимизации кросс-функциональных рисков <br> по своему направлению',]
                          li
                            +mark-text-svg.list-svg
                            p.text.list__text!=item 
            .card-line
              +column-top-svg.card-line__svg
              h3.card-line__title 3 линия
              .card-line__row 
                .card-line__col
                  .row
                    p.card-line__description Внутренний аудит
                  .row
                    p.card-line__description Задачи
                    p.card-line__text.text Предоставляет объективное и независимое аудиторское подтверждение, оценивает эффективность служб первой и второй линий
                .card-line__col 
                  p.card-line__description Функции
                  ul.list
                      each item in ['Проводит независимую оценку системы управления рисками','Оказывает содействие в разработке и мониторинге исполнения процедур и мероприятий по совершенствованию системы управления рисками','Осуществляет координацию деятельности с лицами, <br> оказывающими услуги по консультированию в области <br> управления рисками',]
                        li
                          +mark-text-svg.list-svg
                          p.text.list__text!=item 
  section.risk-model.mt-section
    .container-content 
      .risk-model__inner 
        h3.risk-model__title Модель управления рисками
        .risk-model__img 
          +picture('risk-table.png')
  section.risk-process.mt-section 
    .container-content 
      .risk-process__inner
        .row
          h3.risk-process__title Процесс управления рисками
          .risk-process__img 
            +picture('risk-process.png')
        .risk-process__box 
          .risk-process__item
            p.risk-process__item-description.description_20 Планирование
            p.risk-process__text.text  Планирование управления рисками включает определение цели и области применения процесса управления рисками с учетом внутреннего и внешнего контекста, а также разработку плана действий по внедрению.
          .risk-process__item
            p.risk-process__item-description.description_20 Выявление и анализ риска
            p.risk-process__text.text  Выявление и анализ рисков включают поиск, определение, описание и классификацию рисков, которые могут повлиять на достижение целей компании, анализ их причин и вероятных последствий.
          .risk-process__item
            p.risk-process__item-description.description_20 Оценка риска
            p.risk-process__text.text  Оценка риска заключается в определении степени влияния рисков на цели компании.
          .risk-process__item
            p.risk-process__item-description.description_20 Реагирование на риск
            p.risk-process__text.text  Реагирование на риск предполагает выбор наиболее эффективных мер по управлению рисками для снижения их вероятности или ущерба.
          .risk-process__item
            p.risk-process__item-description.description_20 Мониторинг
            p.risk-process__text.text  Мониторинг является непрерывным процессом, охватывающим все этапы управления рисками. К мониторингу относится анализ статуса выполнения мероприятий по управлению рисками, анализ изменений для своевременного учета в процессе управления рисками.
          .risk-process__item
            p.risk-process__item-description.description_20 Документирование
            p.risk-process__text.text  Документирование результатов этапов управления рисками нацелено на повышение уровня осведомленности и ответственности за управление рисками.
  section.results.mt-section
    .container-content 
      .results__inner 
        h2.results__title Итоги 2022 года
        .results__row 
          .col 
            .results__description.description_20 В 2022 году ОТЛК ЕРА идентифицировала 52 риска, из которых 12 – ключевые, т.е. имели высокую вероятность и материальность.
          .col 
            .results__img 
              +picture('results.png')
  section.results-bottom.mt-section
    .container-content 
      .results-bottom__inner 
        .results-bottom__row
          .results-bottom__left 
            h3.results-bottom__title Ключевые риски
          .col
            .row 
              ul.list-number.list
                each item,index in ['Риск снижения стабильности политической обстановки в странах присутствия Общества/партнеров и странах на пути следования','Риск снижения/стагнации объема перевозок в коридоре через Казахстан','Риск изменения условий оказания транзитных железнодорожных перевозок в странах-участниках ОТЛК ЕРА','Риск закрытия/частичного ограничения пунктов пропуска на границе с ЕС','Риск формирования негативного имиджа Общества','Риск существенных ограничений на инфраструктуре железных дорог 1520','Риск увеличения несбалансированности контейнерных грузопотоков','Риск невозможности осуществления платежей','Риск неисполнения обязательств банками по расчетно-кассовому обслуживанию','Риск искажения/недоступности или потери данных, недоступности ИТ из-за инцидентов информационной безопасности','Валютный риск','Риск неприменения специальных тарифных условий',]
                  li.results-bottom__list-li
                    p.list-number__number.results-bottom__list-number=index+1 + '.'
                    p.text.list-number__text=item 
            .row
              .results-bottom__message
                +message-block('В целях снижения уровня рисков и последствий от их возможной реализации мы  разработали и утвердили план мероприятий по воздействию на риски ОТЛК ЕРА на 2022 год. Наиболее важными в 2022 году были мероприятия по развитию экспортных и импортных перевозок, которые позволили компенсировать негативный эффект от вызванного геополитическим противостоянием снижения транзита Китай-ЕС-Китай.')
        .results-bottom__row
          .results-bottom__left 
            p.results-bottom__subtitle.title-24 Из 52 выявленных рисков реализовались 7, <br class='br'>в том числе 3 ключевых:
          .col
            .row 
              ul.list-number.list
                each item,index in ['Риск снижения стабильности политической обстановки в странах присутствия Общества/ партнеров и странах на пути следования (ключевой риск)','Риск существенного сбоя в работе/ограничений на инфраструктуре железных дорог 1520 (ключевой риск)','Риск необеспечения вагонным парком','Риск увеличения стоимости закупки платформ','Риск искажения отчетности','Риск ареста вагонов','Валютный риск (ключевой риск)',]
                  li.results-bottom__list-li
                    p.list-number__number.results-bottom__list-number=index+1 + '.'
                    p.text.list-number__text=item 
            .row
              .results-bottom__message
                +message-block('Основная задача на 2023 год в части развития системы управления рисками — это автоматизация основных процессов системы.')
  section.next 
    .container 
      .next__inner 
        p.next__text Следующий раздел
        p.next__title приложения
        p.next__number 6
        +column-svg.next-svg
        +button
        