mixin model 
  .model 
    .model__inner 
      .model__box 
        .model__top
          .model__item.model__item_green 
            p Совет директоров
          ul.list.model__list
            each item in ['Утверждение политики по управлению рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray 
            p Комитет по аудиту
          ul.list.model__list.model__list_pl
            each item in ['Рассмотрение материалов по рискам и подготовка рекомендаций для Совета директоров','Рассмотрение результатов независимой оценки системы управления рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
              p Правление
          ul.list.model__list
            each item in ['Согласование нормативных документов по управлению рисками','Согласование реестра, карты рисков, приемлемой величины рисков, плана мероприятий по воздействию на риски','Согласование отчета по управлению рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_green 
              p Генеральный директор
          ul.list.model__list
            each item in ['Утверждение регламента и методических рекомендации по управлению рисками','Утверждение плана по управлению рисками','Утверждение реестра рисков','Утверждение плана мероприятии по воздействию на риски',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray.model-big
            p Рабочая группа по вопросам управления рисками
          ul.list.model__list.model__list_pl
            each item in ['Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Ранжирование рисков по уровням критичности','Валидация показателей приемлемой величины рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
        .model__bottom
          .model__item.model__item_gray.model-big
            p Дирекция по развитию бизнеса и анализу рисков
          ul.list.model__list.model__list_pl
            each item in ['Подготовка проектов актуализированных нормативных документов по управлению','Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Экспертиза предлагаемых мероприятий по воздействию на риски','Координация и мониторинг процессов управления рисками и статуса мероприятии по воздействию на риски ','Методическая и консультационная поддержка владельцев рисков','Консолидация информации — формирование реестра, карты рисков, и плана мероприятий по воздействию','Подготовка периодических отчетов по управлению рисками',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
            p Владельцы рисков
          ul.list.model__list.model__list_pl
            each item in ['Выявление рисков в ходе финансово-хозяйственной деятельности, их анализ и оценка','Подготовка предложений по показателям приемлемой величины рисков','Разработка и реализация мероприятий по воздействию на риски; мониторинг исполнения мероприятий','Оперативный мониторинг показателеи приемлемой величины рисков, уровня рисков, фактов реализации рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
mixin model-CN
  .model 
    .model__inner 
      .model__box 
        .model__top
          .model__item.model__item_green 
            p 董事会
          ul.list.model__list
            each item in ['批准风险管理政策']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray 
            p 审计委员会
          ul.list.model__list.model__list_pl
            each item in ['审查风险材料并编写提交董事会的建议','审查关键风险；风险和风险可接受程度图']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
              p 理事会
          ul.list.model__list
            each item in ['统一风险管理标准文件','统一登记簿、风险图、风险可接受值、风险影响活动计划','风险管理报告的迹象']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_green 
              p 总经理
          ul.list.model__list
            each item in ['批准风险管理条例和指导方针','批准风险管理计划','批准风险登记簿、风险和风险可接受程度图','批准风险影响活动计划',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray.model-big
            p 风险管理工作组
          ul.list.model__list.model__list_pl
            each item in ['根据风险管理方法的完整性和一致性审查已查明的风险','按临界水平对风险进行排序','可接受风险值的验证','为登记管理机构做出决议，升级风险信息',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
        .model__bottom
          .model__item.model__item_gray.model-big
            p 业务发展及风险分析管理处
          ul.list.model__list.model__list_pl
            each item in ['编制更新的管理标准文件草案','根据风险管理方法的完整性和一致性审查已查明的风险','评估提出的风险影响活动','协调和监测风险管理进程和风险影响活动的状况','对风险承担者的方法和咨询支持','信息合并----建立登记薄、风险图和影响计划','编写定期风险管理报告',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
            p 风险承担者
          ul.list.model__list.model__list_pl
            each item in ['财务经营过程中的风险识别、分析和评估','拟订关于可接受风险值的建议','制定和实施风险影响活动；监测活动的执行情况','对可接受的风险值、风险水平、风险实现情况的指标进行业务监测','为登记管理机构做出决议，升级风险信息',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item


mixin model-EN
  .model 
    .model__inner 
      .model__box 
        .model__top
          .model__item.model__item_green 
            p Board of Directors 
          ul.list.model__list
            each item in ['Approves Risk Management Policy']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray 
            p Audit Committee
          ul.list.model__list.model__list_pl
            li
              +mark-text-svg.list-svg
              p.text.list__text Reviews risk materials and prepares recommendations for the Board of Directors
            li
              +mark-text-svg.list-svg
              p.text.list__text Reviews results of independent risk management system assessment
          .model__item.model__item_green 
              p Management Board
          ul.list.model__list
            li
              +mark-text-svg.list-svg
              p.text.list__text Signs off corporate risk management regulations
            li
              +mark-text-svg.list-svg
              p.text.list__text Signs off register, risk map, acceptable risk value, and risk treatment plan
            li
              +mark-text-svg.list-svg
              p.text.list__text Signs off Risk Management Report
          .model__item.model__item_green 
              p General Director
          ul.list.model__list
            li
              +mark-text-svg.list-svg
              p.text.list__text Approves risk management procedures and methodical recommendations
            li
              +mark-text-svg.list-svg
              p.text.list__text Approves risk management plan
            li
              +mark-text-svg.list-svg
              p.text.list__tex Approves key risks, risk map, and acceptable risk value
            li
              +mark-text-svg.list-svg
              p.text.list__text Approves risk treatment plan
          .model__item.model__item_gray.model-big
            p Risk Management Team
          ul.list.model__list.model__list_pl
            li
              +mark-text-svg.list-svg
              p.text.list__text Examines identified risks for completeness and conformity to risk management methods
            li
              +mark-text-svg.list-svg
              p.text.list__text Rates risks by criticality level
            li
              +mark-text-svg.list-svg
              p.text.list__text Validates acceptable risk value indicators
            li
              +mark-text-svg.list-svg
              p.text.list__text Escalates risk information to be taken into account in decision making by management bodies
        .model__bottom
          .model__item.model__item_gray.model-big
            p Business Development and Risk Analysis Director
          ul.list.model__list.model__list_pl
            li
              +mark-text-svg.list-svg
              p.text.list__text Prepares draft updates of management regulations
            li
              +mark-text-svg.list-svg
              p.text.list__text Examines identified risks for completeness and conformity to risk management methods
            li
              +mark-text-svg.list-svg
              p.text.list__text Examines proposed risk treatment actions
            li
              +mark-text-svg.list-svg
              p.text.list__text Coordinates and monitors risk management processes and risk treatment actions
            li
              +mark-text-svg.list-svg
              p.text.list__text Provides guidance and advice to risk owners
            li
              +mark-text-svg.list-svg
              p.text.list__text Consolidates information - forms register, risk map, and risk treatment plan
            li
              +mark-text-svg.list-svg
              p.text.list__text Prepares periodic risk management reports
          .model__item.model__item_green 
            p Risk owners
          ul.list.model__list.model__list_pl
            li
              +mark-text-svg.list-svg
              p.text.list__text Identify, analyze and assess risks in the course of financial and business operations
            li
              +mark-text-svg.list-svg
              p.text.list__text Prepare proposals on acceptable risk value indicators
            li
              +mark-text-svg.list-svg
              p.text.list__text Develop and implement risk treatment measures; monitor implementation
            li
              +mark-text-svg.list-svg
              p.text.list__text Conduct in-process monitoring of acceptable risk value indicators, risk level, risk realization events
            li
              +mark-text-svg.list-svg
              p.text.list__text Escalate risk information to be taken into account in decision making by management bodies