mixin model 
  .model 
    .model__inner 
      .model__box 
        .model__top
          .model__item.model__item_green 
            p Совет директоров
          ul.list.model__list
            each item in ['Утверждение политики по управлению рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray 
            p Комитет по аудиту
          ul.list.model__list.model__list_pl
            each item in ['Рассмотрение материалов по рискам и подготовка рекомендаций для Совета директоров','Рассмотрение результатов независимой оценки системы управления рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
              p Правление
          ul.list.model__list
            each item in ['Согласование нормативных документов по управлению рисками','Согласование реестра, карты рисков, приемлемой величины рисков, плана мероприятий по воздействию на риски','Согласование отчета по управлению рисками']
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_green 
              p Генеральный директор
          ul.list.model__list
            each item in ['Утверждение регламента и методических рекомендации по управлению рисками','Утверждение плана по управлению рисками','Утверждение реестра рисков','Утверждение плана мероприятии по воздействию на риски',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item
          .model__item.model__item_gray.model-big
            p Рабочая группа по вопросам управления рисками
          ul.list.model__list.model__list_pl
            each item in ['Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Ранжирование рисков по уровням критичности','Валидация показателей приемлемой величины рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
        .model__bottom
          .model__item.model__item_gray.model-big
            p Дирекция по развитию бизнеса и анализу рисков
          ul.list.model__list.model__list_pl
            each item in ['Подготовка проектов актуализированных нормативных документов по управлению','Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Экспертиза предлагаемых мероприятий по воздействию на риски','Координация и мониторинг процессов управления рисками и статуса мероприятии по воздействию на риски ','Методическая и консультационная поддержка владельцев рисков','Консолидация информации — формирование реестра, карты рисков, и плана мероприятий по воздействию','Подготовка периодических отчетов по управлению рисками',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item 
          .model__item.model__item_green 
            p Генеральный директор
          ul.list.model__list.model__list_pl
            each item in ['Выявление рисков в ходе финансово-хозяйственной деятельности, их анализ и оценка','Подготовка предложений по показателям приемлемой величины рисков','Разработка и реализация мероприятий по воздействию на риски; мониторинг исполнения мероприятий','Оперативный мониторинг показателеи приемлемой величины рисков, уровня рисков, фактов реализации рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
              li
                +mark-text-svg.list-svg
                p.text.list__text=item


