mixin risks
  .risks 
    .container-content
      .risks__inner
        .risks__row.risks__row_1
          .risks__col 
            .risks-table Совет директоров
          .risks__col-right
            ul.list
              each item in ['Утверждение политики по управлению рисками']
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_gray.risks__row_2 
          .risks__col 
            .risks-gray
              .risks-gray__inner Комитет по аудиту
          .risks__col-right
            ul.list
              each item in ['Рассмотрение материалов по рискам и подготовка рекомендаций для совета директоров','Рассмотрение результатов независимой оценки системы управления рисками',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_3
          .risks__col 
            .risks-table Правление
          .risks__col-right
            ul.list
              each item in ['Согласование нормативных документов по управлению рисками','Согласование реестра, карты рисков, приемлемой величины рисков, плана мероприятий по воздействию на риски','Согласование отчета по управлению рисками',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_4
          .risks__col 
            .risks-table Генеральный директор
          .risks__col-right
            ul.list
              each item in ['Утверждение регламента и методических рекомендации по управлению рисками','Утверждение плана по управлению рисками','Утверждение реестра рисков','Утверждение плана мероприятии по воздействию на риски',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_gray
          .risks__col 
            .risks-gray
              .risks-gray__inner Рабочая группа по вопросам <br> управления рисками
          .risks__col-right
            ul.list
              each item in ['Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Ранжирование рисков по уровням критичности','Валидация показателей приемлемой величины рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_gray
          .risks__col 
            .risks-gray
              .risks-gray__inner Директор по развитию бизнеса <br class='br-t'> и анализу рисков
          .risks__col-right
            ul.list
              each item in ['Подготовка проектов актуализированных нормативных документов по управлению','Экспертиза выявленных рисков на полноту и соответствие методологии управления рисками','Экспертиза предлагаемых мероприятий по воздействию на риски','Координация и мониторинг процессов управления рисками и статуса мероприятии по воздействию на риски ','Методическая и консультационная поддержка владельцев рисков','Консолидация информации — формирование реестра, карты рисков и плана мероприятий по воздействию','Подготовка периодических отчетов по управлению рисками',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
        .risks__row.risks__row_5
          .risks__col 
            .risks-table Владельцы рисков
          .risks__col-right
            ul.list
              each item in ['Выявление рисков в ходе финансово-хозяйственной деятельности, их анализ и оценка','Подготовка предложений по показателям приемлемой величины рисков','Разработка и реализация мероприятий по воздействию на риски; мониторинг исполнения мероприятий','Оперативный мониторинг показателеи приемлемой величины рисков, уровня рисков, фактов реализации рисков','Эскалация информации о рисках для учета при принятии решений органами управления',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 